
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Why are government schemes of interest to you?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      
      <form method="post" action="scheme-comparison"> 


  {{ govukCheckboxes({
    idPrefix: "schemes",
    name: "schemes",
    fieldset: {
      legend: {
        text: "Which schemes would you like to compare in more detail?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        value: "highereducation",
        text: "Higher education",
        checked: true if data['schemes'] | includes('highereducation')
      },   
      {
        value: "apprenticeship",
        text: "Apprenticeship",
        checked: true if data['schemes'] | includes('apprenticeship')
      }, 
      {
        value: "supportedinternship",
        text: "Supported internship",
        checked: true if data['schemes'] | includes('supportedinternship')
      }, 
      {
        value: "schoolleaversscheme",
        text: "School leavers scheme",
        checked: true if data['schemes'] | includes('schoolleaversscheme')
      }, 
      {
        value: "1yearcourse",
        text: "1 year funded course for ages 18-19",
        checked: true if data['schemes'] | includes('1yearcourse')
      }, 
    
      {
        value: "kickstartjob",
        text: "Kickstart job",
        checked: true if data['schemes'] | includes('kickstartjob')
      },
    
          {
        value: "startabusiness",
        text: "Start a business",
        checked: true if data['schemes'] | includes('startabusiness')
      },
{
        value: "getajob",
        text: "Get a job",
        checked: true if data['schemes'] | includes('getajob')
      },
      {
        value: "internships",
        text: "Internships",
        checked: true if data['schemes'] | includes('internships')
      },
      {
        value: "traineeships",
        text: "Traineeships",
        checked: true if data['schemes'] | includes('traineeships')
      },
      {
        value: "htqs",
        text: "Higher technical skills courses (HTQs)",
        checked: true if data['schemes'] | includes('htqs')
      }
    ]
  }) }}
      {{ govukButton({
        text: "Continue"
        }) }}


      </form>

     
      
    </div>
  </div>

{% endblock %}
