
<div class="govuk-form-group age">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        Age
      </h3>
    </legend>
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="under" name="age" type="radio" value="under">
        <label class="govuk-label govuk-radios__label" for="under">
          Under 18
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="over" name="age" type="radio" value="over">
        <label class="govuk-label govuk-radios__label" for="over">
          Over 18
        </label>
      </div>
    </div>

  </fieldset>
</div>