<div class="govuk-form-group times">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Length of scheme?
      </h3>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item time">
      <input type="checkbox" name="length[]" id="length-short" value="short" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info">
        <label class="govuk-label govuk-checkboxes__label" for="length-short">
            Up to 4 months
        </label>
      </div>
      <div class="govuk-checkboxes__item time">
        <input class="govuk-checkboxes__input" id="length-medium" name="medium" type="checkbox" value="medium">
        <label class="govuk-label govuk-checkboxes__label" for="length-medium">
            4 months to 12 months
        </label>
      </div>
      <div class="govuk-checkboxes__item time">
        <input class="govuk-checkboxes__input" id="length-long" name="long" type="checkbox" value="long">
        <label class="govuk-label govuk-checkboxes__label" for="length-long">
            A year or more
        </label>
      </div>      
    </div>

  </fieldset>
</div>

 