<div class="govuk-form-group motivations">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Your motivations?
      </h3>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item motivation">
      <input type="checkbox" name="motivations[]" id="motivations-train" value="train" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info">
        <label class="govuk-label govuk-checkboxes__label" for="motivations-train">
            To help train someone up into a full-time role
        </label>
      </div>
      <div class="govuk-checkboxes__item motivation">
        <input class="govuk-checkboxes__input" id="motivations-unpaid" name="unpaidPlacement" type="checkbox" value="unpaidPlacement">
        <label class="govuk-label govuk-checkboxes__label" for="motivations-unpaid">
            To offer someone an unpaid work placement opportunity
        </label>
      </div>
      <div class="govuk-checkboxes__item motivation">
        <input class="govuk-checkboxes__input" id="motivations-diversify" name="diversify" type="checkbox" value="diversify">
        <label class="govuk-label govuk-checkboxes__label" for="motivations-diversify">
            To diversify our workforce or for corporate and social responsibility
        </label>
      </div>      
    </div>

  </fieldset>
</div>

 


