<div class="govuk-form-group ehc">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        Education, health and care plan (EHC) choices
      </h3>
    </legend>
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes" name="ehc" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="yes">
          I have an EHC plan
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no" name="ehc" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="no">
          I do not have an EHC plan
        </label>
      </div>
    </div>

  </fieldset>
</div>
 


