<div class="govuk-form-group payment">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Can you pay them? 
      </h3>
    </legend>
    {# <div id="payment-hint" class="govuk-hint">
    For example, are you able to pay at least the national minimum wage and some costs such as travel expenses? 
  </div> #}
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item pay">
      <input type="checkbox" name="pay[]" id="pay-paid" value="paid" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info">
        <label class="govuk-label govuk-checkboxes__label" for="pay-paid">
           I can pay at least national minimum wage 
        </label>
      </div>
      <div class="govuk-checkboxes__item pay">
        <input class="govuk-checkboxes__input" id="pay-unpaid" name="unpaid" type="checkbox" value="unpaid">
        <label class="govuk-label govuk-checkboxes__label" for="pay-unpaid">
          I can offer unpaid placements 
        </label>
      </div>
    </div>

  </fieldset>
</div>

 


