<div class="govuk-form-group qualifications">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Minimum level of qualification
      </h3>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item qualification">
      <input type="checkbox" name="qualifications[]" id="qualifications-none" value="none" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info">
        <label class="govuk-label govuk-checkboxes__label" for="qualifications-none">
           No qualification requirements 
        </label>
      </div>
      <div class="govuk-checkboxes__item qualification">
        <input class="govuk-checkboxes__input" id="qualifications-unpaid" name="12" type="checkbox" value="12">
        <label class="govuk-label govuk-checkboxes__label" for="qualifications-unpaid">
            No qualification requirements 
        </label>
      </div>
      <div class="govuk-checkboxes__item qualification">
        <input class="govuk-checkboxes__input" id="qualifications-3" name="3" type="checkbox" value="3">
        <label class="govuk-label govuk-checkboxes__label" for="qualifications-3">
           Level 3 (A Level or Diploma) or higher 
        </label>
      </div>      
    </div>

  </fieldset>
</div>

 


