<div class="govuk-form-group type">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
       Type
      </h3>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item type">
      <input type="checkbox" name="type[]" id="type-classroom" value="classroom" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info">
        <label class="govuk-label govuk-checkboxes__label" for="type-classroom">
            Classroom-based choices
        </label>
      </div>
      <div class="govuk-checkboxes__item type">
        <input class="govuk-checkboxes__input" id="type-work" name="work" type="checkbox" value="work">
        <label class="govuk-label govuk-checkboxes__label" for="type-work">
            Work-based choices
        </label>
      </div>
      <div class="govuk-checkboxes__item type">
        <input class="govuk-checkboxes__input" id="type-mix" name="mix" type="checkbox" value="mix">
        <label class="govuk-label govuk-checkboxes__label" for="type-mix">
            Combined classroom and work-based choices
        </label>
      </div>      
    </div>

  </fieldset>
</div>

 