
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
1 year funded course for ages 18-19
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> All choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">1 year funded course for 18-19 year olds</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       1 year funded course for ages 18-19
      </h2>
          
    </div>
    </div>
</div>

  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

 <p class="govuk-body">
      [Placeholder content]
      </p> 

  <h2 class="govuk-heading-m"> 
  How much does a 1 year funded course for 18-19 year olds cost?
  </h2>
  <p class="govuk-body">Content about 1 year funded courses for 18-19 year olds will be here. </p>
  

  

  <h2 class="govuk-heading-m"> 
Get help and advice
  </h2>
<p class="govuk-body"> Content placeholder </p>



<h2 class="govuk-heading-m"> 
Real experiences
  </h2>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360" class="govuk-!-margin-bottom-4"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>




</div>
<div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices  
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      1 year funded course for 18-19 year olds
     </li>
     <li>
      <a href="kickstart">Get a Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                   
        </aside>
    </div> 

</div>





<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<hr>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group govuk-!-margin-left-3 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
<form action="paste URL">
  {{ govukButton({
    text: "Find a course"
  }) }}
</form>

<form action="paste URL">
  {{ govukButton({
    text: "More information",
    classes: "govuk-button--secondary"
  }) }}
  </form>
</div>   
 </div>


</div>

</div>
   
</div>





</div>

</div>


</div>
</div>
</div>


{% endblock %}