
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
A Levels
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
 
                <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> All choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">A Levels</li>
      </ol>
    </div>
  </div>

{% endblock %}

{% block content %}
</div>

<div class="govuk-grid-row page-title-header ec-hero"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="apprenticeship" class="govuk-heading-l choice-title">
        A Levels
      </h2>
   <p class="govuk-body choice-body">Advanced level qualifications (known as A levels) are subject based qualifications that can lead to university, further study, training or work.
</p>
 <p class="govuk-body choice-body">A levels are for those aged 16 or over and are assessed by exams and coursework. You can study 3 or more A levels over 2 years. 
 </p>
 <p class="govuk-body choice-body">A levels can usually be taken in school or college.
</p>

    </div>
</div>
 </div>

<div class="govuk-grid-row page-title-header ec-hero-blank sticky"> 
<div class="govuk-width-container">
<div class="govuk-grid-row">

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group govuk-!-margin-left-6">
<form action="https://nationalcareers.service.gov.uk/find-a-course/page?">
  {{ govukButton({
    text: "Find a course"
  }) }}
</form>


</div>   
 </div>
  </div>
    </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">



{# entry reqs #}
<div class="govuk-grid-column-two-thirds">
<div id="cost" class="section_container">
  <h2 class="govuk-heading-m"> 
  What do you need to take A levels?
  </h2>
  <p>You normally need: </p>
<ul class="govuk-list govuk-list--bullet">
<li>
at least 5 GCSEs at grades 9 to 4
</li>
<li>
at least grade 6 in the specific subjects you want to study
</li>
</ul>
</div>

{# what they are used for #}
<div id="who" class="section_container">
 <h2 class="govuk-heading-m"> 
What can A levels be used for
 </h2> 
  <p> You can use A level qualifications towards: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
going to university    </li>
    <li>
higher and degree apprenticeships    </li>
    <li>
getting a job    </li>
  </ul>
</div>

{# choosing #}
<div id="include" class="section_container govuk-!-margin-bottom-5">
 <h2 class="govuk-heading-m "> 
Choosing A level subjects  </h2>
  <p>When deciding which subjects to take at A level you should consider:
</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
which subjects you are good at or would be interested in
    </li>
    <li>
which subjects or grades you might need for a certain job or further study after A levels
    </li>
  </ul>

  <p>Find out more about A levels at: <a href="https://www.ucas.com/further-education/post-16-qualifications/qualifications-you-can-take/levels">UCAS Information about A levels</a>
 </p>

 
</div>
</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices
          </h2>
            <ul>
     <li>
      A-Levels
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship</a>
     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="vtq">VTQs</a>
     </li>
     
 </ul>                  
        </aside>
    </div> 
</div>
</div>

</div>
</div>
</div>



</div>

</div>

</div>
</div>
</div>


{% endblock %}