
{% extends "layout_ncs_erh.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
 All choices
{% endblock %}

{% block beforeContent %}
</div>
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Explore your education and training choices</li>
      </ol>
    </div>
  </div>

<div class = "ec-hero govuk-!-margin-bottom-6">
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
     Explore your education and training choices      
     </h1>
    
    </div> 
  </div>
  </div> 
  </div>

{% endblock %}

{% block content %}
  <div class="govuk-width-container">

  <div id="choices" class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
     {# <h2 class="govuk-heading-l govuk-!-padding-top-9"> choices </h2>  #}
    </div>
  </div>


  

 <p class="govuk-body">
     There are lots of work and study choices available to you. You could:
     </p>
     <div class="govuk-!-margin-left-4">
          <ul="govuk-list govuk-list--bullet">
            <li>Combine work and study
            </li>
            <li>Get straight into work
            </li>
            </li>
            Continue your studies
            </li>
          </ul>
          <br>
          </div>
          <p class="govuk-body">
     Already have a career in mind? Use our <a href="https://nationalcareers.service.gov.uk/explore-careers"> Explore Careers</a> service.
     </p>


     <h2 class="govuk-heading-l govuk-!-margin-top-5">Combine work and study</h2>

<p class="govuk-body">
Combine work and study to gain skills and experience in a specific job. Explore the available options below:
</p>


  <div class="govuk-grid-row">


{# Vocational Technical Qualifications (VTQs) CARD  #}

<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="vtq">Vocational Technical Qualifications (VTQs)</a></h3>
      <div class="text">
        <p class="govuk-body">Know exactly what your dream job is, but not sure how to get started? A VTQ gives the opportunity for those aged 16 to 19 years old to gain skills and experience with a work based qualification in a wide range of career options. 
</p> 
      </div>
    </div>
  </div>


{# # T LEVELS CARD  #} 

<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="tlevels">T Levels</a></h3>
      <div class="text">
        <p class="govuk-body">Are you aged 16 to 19 and ready to take the next step for your future? T-levels gives you the opportunity to get real work experience with a 45-day industry placement whilst gaining a qualification that employers look for.
</p> 
      </div>
    </div>
</div>
</div>

    <div class="govuk-grid-row">

{# APPRENTICESHIP CARD #}

  <div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="apprenticeship">Apprenticeship</a></h3>
      <div class="text">
        <p class="govuk-body">Looking for the next big step in your career? Apprenticeships are industry recognised qualifications for those aged 16 and over, which will give you the opportunity to get hands-on experience by working whilst you study.
</p> 
      </div>
    </div>
  </div>

    {# TRAINEESHIP CARD  #}


<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="traineeship">Traineeship</a></h3>
      <div class="text">
        <p class="govuk-body">Upgrade your future by taking on a traineeship. If you’re aged 16 to 24 years old, this course can give you the opportunity to gain the skills and work experience you need to move into an apprenticeship.  

</p> 
      </div>
    </div>
  </div>

{# SCHOOL LEAVERS SCHEMES  #}

<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="school-leavers-scheme">School Leavers Schemes</a></h3>
      <div class="text">
        <p class="govuk-body">Aimed at those who have completed A levels, work at a large company and earn money whilst you train. 
 </p> 
      </div>
    </div>
  </div>



        

</div>

<h2 class="govuk-heading-l govuk-!-margin-top-5">Continue your studies</h2>

<p class="govuk-body">Open up a range of opportunities for your future by going into further education. Explore the available courses below:
</p>

  <div class="govuk-grid-row govuk-!-margin-top-5">


 
 {# HIGHER EDUCATION CARD #}

  <div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="higher-education">Higher education</a></h3>
      <div class="text">
       <p class="govuk-body">For those aged 18 and over, continue your higher education with a degree at university and gain the knowledge to find employment in a particular industry or job role.
       <br><br></p>
      </div>
    </div>
  </div>


{# A-LEVELS CARD #}
  <div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="alevels">A Levels</a></h3>
      <div class="text">
       <p class="govuk-body">Open up a range of opportunities for your future by studying A levels. For those aged 16 and over, this subject based qualification could lead you to university, further study, training or starting work. 
<br><br></p>
      </div>
    </div>
  </div>
</div>

{# 1 YEAR FUNDED COURSE CARD #}

  <div class="govuk-grid-row">


<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="1-year-course">1 year funded course</a></h3>
      <div class="text">
        <p class="govuk-body">For those aged 18 to 19, take a free course to gain work related or technical skills needed by employers. 
<br><br><br><br>
</p> 
      </div>
    </div>
  </div>




  {# HTQs) CARD  #}

<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="htq">Higher technical skills courses (HTQs)</a></h3>
      <div class="text">
        <p class="govuk-body">HTQs have been designed to provide you with the knowledge and skills that employers say they need. Having a HTQ can lead to a high-skilled, highly paid job in a wide range of sectors, giving you a step up in your chosen career, or further study. </p> 
      </div>
    </div>
  </div>

  </div>


<h2 class="govuk-heading-l govuk-!-margin-top-5">Get straight into work</h2>
<p class="govuk-body">
Are you ready to get into the world of work but not sure where to start? Explore the available work schemes below:
</p>

    <div class="govuk-grid-row">

{# KICKSTART CARD  #}


<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="kickstart">Kickstart job</a></h3>
      <div class="text">
        <p class="govuk-body">With a Kickstart job you can gain 6 months work experience whilst being paid. If you’re aged 16 to 24 and claiming universal credit, this scheme offers you the opportunity to gain the skills employers need to help you find your next job.    

</p> 
      </div>
    </div>
  </div>



  {# SUPPORTED INTERNSHIP CARD  #}

  <div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="supportedinternship">Supported internship</a></h3>
      <div class="text">
        <p class="govuk-body">Are you ready to get into the world of work but not sure where to start? If you’re aged 16 to 24 with an education, health and care plan (EHC), a supported internship can give you the support you need to make the move into employment.   
<br></p> 
      </div>
    </div>
  </div>
</div>



    

<div class="govuk-grid-row">


{# INTERNSHIPS AND VOLUNTEERING CARD  #}

<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="internships">Internships and volunteering</a></h3>
      <div class="text">
        <p class="govuk-body">Gain work experience in a chosen job and learn about the industry by getting an internship or volunteering.
        </p>
      </div>
    </div>
  </div>


{# GET A JOB  #}

<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="get-a-job">Get a job</a></h3>
      <div class="text">
        <p class="govuk-body">Get straight into the working world by getting a job to start earning and gaining experience.
<br><br>
</p> 
      </div>
    </div>
  </div>
</div>


    <div class="govuk-grid-row">

 {# START A BUSINESS CARD #}

<div class="govuk-grid-column-one-half">
    <div class="card">
      <h3 class="govuk-heading-s"><a href="business">Start a business</a></h3>
      <div class="text">
        <p class="govuk-body">If you have a great business idea or want to be an entrepreneur, starting your own business might be right for you. 
</p> 
      </div>
    </div>
  </div>
  </div>





  
</div>
    

  
  

 



  
  



</div>


</div>
<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

  {# <div class="govuk-width-container">

 <aside class="app-related-items govuk-!-margin-top-6" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Other opportunities
          </h2>
          <ul class="govuk-list">
            <li>
              If you have a great business idea or want to be an entrepreneur, <a href="startabusinessURL">starting your own business</a> might be right for you. 
            <br><br></li>
            <li>
              Get straight into the working world by <a href="getajobURL">getting a job</a> to start earning and gaining experience.
              <br><br></li>
            <li>
              Gain work experience in a chosen job and learn about the industry by <a href="getaninternshipURL"> getting an internship</a>
            <br><br></li>
            <li>
              You could also consider <a href="volunteerURL">volunteering</a> to strengthen your job and study opportunities
            <br><br></li>
            <li>
            </li>
          </ul>                  
        </aside>
    </div> 
   
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

</div>

</div> #}

{% endblock %}








{% block scripts %}

<script>

function ShowWithoutImages() {
  var cardWithImage = document.getElementById("cardGroupWithImages");
  var linkTitle = document.getElementById("showWithoutImages");
  var cardNoImage = document.getElementById("cardGroupNoImages");

  if (cardWithImage.style.display === "none") {
    cardWithImage.style.display = "block";
    cardNoImage.style.display = "none";
    linkTitle.innerHTML = 'See these without images';
  } else {
    cardWithImage.style.display = "none";
    cardNoImage.style.display = "block";
    linkTitle.innerHTML = 'See these with images';
  }
  
} 


</script>
{% endblock %}
