
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Apprenticeship
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices">Explore your education and training choices </a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Apprenticeship</li>
      </ol>
    </div>
  </div>


{% endblock %}

{% block content %}
</div>

<div class="govuk-grid-row page-title-header ec-hero"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-full">
      <h2 id="apprenticeship" class="govuk-heading-l choice-title">
        Apprenticeship
      </h2>
 

    </div>
    
    
  </div>
    </div>
  





    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">





{# who #}
<div class="govuk-grid-column-two-thirds">

  <p class="govuk-body">Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job. Apprenticeships take 1 to 5 years to complete depending on their level.  </p>
 <p class="govuk-body">By the end of an apprenticeship, apprentices have the right skills and knowledge needed for their chosen career. Apprenticeships take 1 to 5 years to complete depending on their level.</p>
 <p class="govuk-body">Apprenticeships are free.</p>


<div id="cost" class="section_container">
  <h2 class="govuk-heading-m"> 
  Who can apply for an apprenticeship
  </h2>
  <p class="govuk-body">To start an apprenticeship, you’ll need to be:
 </p>
 <ul class="govuk-list govuk-list-bullet">
 <li>
 16 or over
 </li>
 <li>
living in England </li>
 <li>
not in full time education
 </li>
 </ul>
  <p class="govuk-body">You can apply for an apprenticeship while you’re still at school but you’ll need to be 16 or over by the end of the summer holidays to start the apprenticeship. </p>
</div>


{# include #}
<div id="include" class="section_container">
 <h2 class="govuk-heading-m "> 
  What does an apprenticeship include
  </h2>
  <p class="govuk-body">As an apprentice you will:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      be an employee earning a wage and getting holiday pay
    </li>
    <li>
      work alongside experienced staff
    </li>
    <li>
     gain job-specific skills
    </li>
    <li>
    get time for training and study related to your role
    </li>
  </ul>


 <p class="govuk-body"> The training might take place:</p>
 <ul class="govuk-list govuk-list--bullet">
   <li>
     at your place of work
   </li>
   <li>
     somewhere else like at a college or training provider
   </li>
   <li>
    online
   </li>
 </ul>
 </div>

 {# pay #}
<div id="pay" class="section_container">
<h2 class="govuk-heading-m "> 
  Pay and working hours
  </h2>
<p class="govuk-body"> There are different rates of pay for apprentices depending on your age and what year of your apprenticeship you’re in. </p>
<p class="govuk-body"> Your employment contract should confirm your rate of pay but you must be paid the appropriate <a target="_blank" href="https://www.gov.uk/national-minimum-wage-rates"> national minimum wage (opens in a new tab)</a>. </p>
<p class="govuk-body"> You must be paid for: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    your normal working hours
  </li>
  <li>
    training that’s part of your apprenticeship
  </li>
  <li>
    study towards English and maths qualifications, if they’re part of your apprenticeship
  </li>
</ul>
<p class="govuk-body"> You’ll get at least 20 days of paid holiday per year, plus bank holidays.</p>
<p class="govuk-body">The <a target="_blank" href="https://www.gov.uk/calculate-your-holiday-entitlement">holiday calculator (opens in a new tab)</a> helps you check what you are allowed to take. </p>
</div>

{# how #}
<section class="grey-box"> 
  <h2 class="govuk-heading-m "> 
  How to apply for an apprenticeship
    </h2>
    <p class="govuk-body"> There are 3 steps to applying for an apprenticeship. </p>
    <ol class="govuk-list govuk-list--number">
      <li>
        1. <a target="_blank" href="https://www.gov.uk/apply-apprenticeship"> Search for an apprenticeship (opens in a new tab) </a>
      </li>
      <li>
        2. Sign in or create an account.
      </li>
      <li>
        3. Complete and submit your application.
      </li>
    </ol>
</section>



{# help #}
<div id="help" class="section_container">
<h2 class="govuk-heading-m "> 
Get help and advice
  </h2>

  <p class="govuk-body"> The <a target="_blank" href="https://nationalcareers.service.gov.uk/"> National Careers Service (opens in a new tab) </a> has advice on writing applications and what to do at interviews. </p>

  <p class="govuk-body"> Find out more about apprenticeships here: <a href="https://www.apprenticeships.gov.uk/apprentices">become an apprentice </a></p>

</div>

<p class="govuk-body"> <strong> Apprenticeship helpline </strong> <br>
nationalhelpdesk@apprenticeships.gov.uk <br> 
Telephone: 0800 015 0400 <br>
8am to 10pm, 7 days a week </p>

{# real stories #}
{# <div id="realstories" class="section_container"> #}

{# <h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Alim - Channel 4 Apprentice</h3> 
  <p class="govuk-body"> "Being an apprentice has been the best time of my life, I've been able to do things that I'm passionate about. I've been able to meet so many different people. I've built up my confidence. It's been the best experience it could have been." </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/guS6tQwU-tY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  
  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Hosanna - Royal Opera House Apprentice</h3> 
  <p class="govuk-body">"I found the confidence I needed to take the apprenticeship, because I knew theatre is what I loved and where I wanted to be.There's never really a typical day. There's always different working hours and different people, which is my favourite part of it." </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5qnghDBPLHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Ella - Robert Welch Apprentice</h3> 
  <p class="govuk-body"> "I wasn't a hundred percent sure what I wanted to do after 6th form. Then, my mum showed me an ad in the local paper for an apprenticeship. I want to be earning six figures by the time I'm thirty. And that's the beauty of starting young, it's all possible." </p>

<iframe class="govuk-!-margin-bottom-6" width="560" height="315" src="https://www.youtube.com/embed/s0fcP0QgtGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 #}



</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices  
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       Apprenticeship
     </li>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                   
        </aside>
    </div> 

    <div>

</div>

</div>
</div>



</div>



</div>



</div>

</div>
</div>
</div>

<p>
<br>
<br>
<br>
<br>
<br>
</p>

{% endblock %}

{% block footer %}

<div class="filter__footer">
<div class="govuk-width-container">
<div class="govuk-button-group">    <form action="https://www.apprenticeships.gov.uk/apprentices/create-account">
        <button class="govuk-button"> Find an apprenticeship </button>
    </form>
        <form action="https://www.apprenticeships.gov.uk/apprentices">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"> Visit the apprenticeship website</button>
    </form>
</div>
</div>
</div>
{% endblock %}