
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Get a job
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Get a job</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       Get a job
      </h2>
           
    </div>
    </div>
    </div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<p class="govuk-body">
      A job allows you to earn money and gain experience in a chosen field and can be full-time or part-time.</p>

<p class="govuk-body">
If you want to know more about how to get a job, there is advice available that can help you land the role that’s right for you. 

      </p> 
  <h2 class="govuk-heading-m"> 
Which job is right for me  </h2>

  <p class="govuk-body">You can explore job profiles to find out what a specific role involves and if it’s the right fit for you. </p>
  

  

  <h2 class="govuk-heading-m"> 
Where do I find job vacancies  </h2>
<p class="govuk-body"> You can <a href="https://nationalcareers.service.gov.uk/careers-advice/advertised-job-vacancies">explore the different ways of looking for a new job </a> to ensure you don’t miss any suitable job advertisements. </p>




<h2 class="govuk-heading-m"> 
Writing a CV and cover letter  </h2>

  <p class="govuk-body"> A CV is a short, written summary of your skills, achievements and experience. </p>


<p class="govuk-body"> You should introduce yourself to an employer using a cover letter alongside your CV. </p>


<p class="govuk-body"> The National Careers Service offers <a href="https://nationalcareers.service.gov.uk/careers-advice/cv-sections">advice on how to write a CV</a> and <a href="https://nationalcareers.service.gov.uk/careers-advice/covering-letter">cover letter.</a> </p>


<h2 class="govuk-heading-m"> 
If I get an interview </h2>

<p class="govuk-body"> If your application is successful you may be invited to interview. </p>

<p class="govuk-body"> If you would like advice on how to prepare for an interview, <a href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice"> here are some interview tips. </a></p>



</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       Get a job
     </li>
     <li>
       <a href="internships">Internships and volunteering</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                   
        </aside>
    </div> 

<div>

</div>

</div>





</div>

</div>


</div>
</div>
</div>

<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<p>
<br>
<br>
<br>
<br>
</p>

{% endblock %}

{% block footer %}

<div class="filter__footer">
<div class="govuk-width-container">
  <form action="https://www.gov.uk/find-a-job">
        <button class="govuk-button"> Find a job </button>
    </form>
      
</div>
</div>
{% endblock %}