
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Get a job
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="exam-results">[Untitled]</a> </li>
                <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="post-18">Choices at age 18+</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Get a job</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       Get a job
      </h2>
      <p class="govuk-body choice-body">
      Placeholder content
      </p>      
    </div>
    </div>

<div class="govuk-grid-column-one-third">
<form action="https://www.gov.uk/guidance/htqs">
{{ govukButton({
  text: "Find a job"
}) }}  
 </div>
  
  </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m"> 
  How much does a 1 year funded course for 18-19 year olds cost?
  </h2>
  <p>Content about 1 year funded courses for 18-19 year olds will be here. </p>
  

  

  <h2 class="govuk-heading-m"> 
Get help and advice
  </h2>
<p> Content placeholder </p>

<h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nYOcO97FKqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360" class="govuk-!-margin-bottom-4"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>

</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices at age 18+
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship-post18">Apprenticeship</a>
     </li>
     <li>
       <a href="supportedinternship-post18">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Get a Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       Get a job
     </li>
     <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="traineeship-post18">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                  
        </aside>
    </div> 
</div>





</div>

</div>


</div>
</div>
</div>


{% endblock %}