
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Higher education
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> All choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Higher education</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       Higher education
      </h2>
           
    </div>
    </div>

</div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">
      [Placeholder content]
      </p> 

  <h2 class="govuk-heading-m"> 
  How much does higher education cost?
  </h2>
  <p class="govuk-body">Content about higher education will be here. </p>
  

  

  <h2 class="govuk-heading-m"> 
Get help and advice
  </h2>
<p class="govuk-body"> Content placeholder </p>



<h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nYOcO97FKqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>





</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices
          </h2>
            <ul>
     <li>
      Higher education
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                   
        </aside>
    </div> 

<div>
<p><br>
<br>
<br>
<br>
<br>
<br></p>
</div>

</div>





</div>

</div>


</div>
</div>
</div>


{% endblock %}

{% block footer %}

<div class="filter__footer">
<div class="govuk-width-container">
<div class="govuk-button-group">    <form action="URL">
        <button class="govuk-button"> Find a course </button>
    </form>
        <form action="URL">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"> More information</button>
    </form>
</div>
</div>
</div>
{% endblock %}