
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Higher technical skills courses (HTQs)
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">HTQs</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       Higher technical skills courses (HTQs)
      </h2>
       
      

    </div>
    </div>

</div>


    </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">
Higher Technical Qualifications (HTQs) are new technical training routes.
      </p> 
<p class="govuk-body">They are: </p>

<ul class="govuk-list govuk-list--bullet">
    <li>New and existing Level 4 and 5 qualifications (such as Higher National Diplomas, Foundation Degrees, Diploma Higher Education)
</li>
<li>Approved by the Institute for Apprenticeships and Technical Education, against employer-led occupational standards
</li>
</ul>

  <h2 class="govuk-heading-m"> 
Who can apply for a HTQ
  </h2>
  <p class="govuk-body">
Can young people apply directly for a traineeship, or do they need to be employed and sponsored by their employer? What are the eligibility criteria for applying for a HTQ?
  </p>
  

  

  <h2 class="govuk-heading-m"> 
What do you need to study a HTQ
  </h2>
<p class="govuk-body"> 
[Content placeholder]</p>


  <h2 class="govuk-heading-m"> 
What can HTQs be used for?  </h2>
<p class="govuk-body"> 
The first Digital HTQs will be available to study from 2022, leading to higher-level occupations such as:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>
Network Engineer
</li>
<li>
Software Developer
</li>
<li>
Data Analyst
</li>
</ul>
<p class="govuk-body"> 
Health and Science and Construction qualifications will be available to study from 2023. 
</p>

  <h2 class="govuk-heading-m"> 
What does a HTQ include?  </h2>
  <p class="govuk-body">
[Content placeholder]  </p>

  <h2 class="govuk-heading-m"> 
How to find an HTQ</h2>
  <p class="govuk-body">
[Content placeholder]  </p>



{# <h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nYOcO97FKqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360" class="govuk-!-margin-bottom-4"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe> #}



</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices  
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      Higher technical skills courses (HTQs)
     </li>
     
 </ul>                 
        </aside>
    </div> 

<div>

</div>

</div>





</div>

</div>


</div>
</div>
</div>

<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<p>
<br>
<br>
<br>
<br>
</p>

{% endblock %}

{% block footer %}

<div class="filter__footer">
<div class="govuk-width-container">
<div class="govuk-button-group">    <form action="https://www.gov.uk/guidance/htqs">
        <button class="govuk-button"> Find a course </button>
    </form>
        <form action="URL">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"> More information</button>
    </form>
</div>
</div>
</div>
{% endblock %}