
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Higher technical skills courses (HTQs)
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back to post-18 choices',
        href: 'gcse'
    }) }}


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       Higher technical skills courses (HTQs)
      </h2>
      <p class="govuk-body choice-body">
      Placeholder content
      </p>      
    </div>
    </div>

<div class="govuk-grid-column-one-third">
<form action="https://www.gov.uk/guidance/htqs">
{{ govukButton({
  text: "Find a course"
}) }}  
 </div>
  
  </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m"> 
  How much do higher technical skills courses cost 
  </h2>
  <p>Content about higher technical skills courses cost will be here. </p>
  

  

  <h2 class="govuk-heading-m"> 
Get help and advice
  </h2>
<p> Content placeholder </p>

<h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nYOcO97FKqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360" class="govuk-!-margin-bottom-4"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>

</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices for ages 18+
          </h2>
            <ul>
     <li>
      <a href="alevels">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="tlevels">School Leavers Scheme</a>
     </li>
     <li>
      <a href="traineeship">1 year funded course</a>
     </li>
     <li>
      <a href="alevels">Kickstart job</a>
     </li>
     <li>
       <a href="apprenticeship">Start a business</a>
     </li>
       <a href="supportedinternship">Get a job </a>
     </li>
     <li>
       <a href="tlevels">Internship</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      HTQs
     </li>
     
 </ul>                  
        </aside>
    </div> 
</div>





</div>

</div>


</div>
</div>
</div>


{% endblock %}