
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Kickstart job
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Kickstart job</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       Kickstart job
      </h2>
          
    </div>
    </div>

</div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">
Ready for the world of work but don’t know where to start? With a Kickstart job you can gain 6 months work experience whilst being paid. If you’re aged 16 to 24 and claiming universal credit, this scheme offers you the opportunity to gain the skills employers need to help you find your next job.    
      </p>  

      <p class="govuk-body">
This scheme offers you the opportunity to gain the skills employers need to help you find your next job. 
      </p> 

  <h2 class="govuk-heading-m"> 
How to apply for a Kickstart job
  </h2>

<p class="govuk-body govuk-!-font-weight-bold">
  1. Talk to a Work coach at JobCentre Plus
  </p>
<p class="govuk-body govuk-!-margin-left-3">
  Speak to a Work coach at your nearest <a href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">Job Centre Plus branch to discuss your skills and interests.</a>   </li>
</p>
<p class="govuk-body govuk-!-font-weight-bold">
  2. Get matched to a job vacancy
  </p>
<p class="govuk-body govuk-!-margin-left-3">
     The Work coach will use this information to help match you to any suitable Kickstart job vacancies and give advice on the roles.
</p>
<p class="govuk-body govuk-!-font-weight-bold">
  3. Put in your application
  </p>
<p class="govuk-body govuk-!-margin-left-3">
  You can then apply for these job placements online. Speak to a Work coach for advice about making an application and what to include.   </li>
</p>
<p class="govuk-body govuk-!-font-weight-bold">
  4. Get interview ready
  </p>
<p class="govuk-body govuk-!-margin-left-3">
  You may then be invited for an interview with the employer who is running the Kickstart job placement. You should prepare for the interview by thinking about what you want to gain from the job placement and what skills you can offer as an employee (for more advice on interviews visit the <a href="https://nationalcareers.service.gov.uk/"> National Careers Service (opens in a new tab).</a> 
  </p>
<p class="govuk-body govuk-!-font-weight-bold">
  5. Start your new job
  </p>
<p class="govuk-body govuk-!-margin-left-3">
If you’re successful at the interview stage the employer will offer you the job placement and contact you to arrange a start date. 
</p>
  
<p class="govuk-body">
Head to <a href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">Job Centre Plus</a> to find your Kickstart job placement. 
</p>
  


<h2 class="govuk-heading-m"> 
Real experiences
  </h2>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>







</div>
   <div class="govuk-grid-column-one-third">
                  <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices  
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      Kickstart job
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internships </a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                 
        </aside>
    </div> 

<div>
<p><br>
<br>
<br>
<br>
<br>
<br></p>
</div>

</div>





</div>

</div>


</div>
</div>
</div>


{% endblock %}

{% block footer %}

<div class="filter__footer">
<div class="govuk-width-container">
<div class="govuk-button-group">    <form action="URL">
        <button class="govuk-button"> Find a Kickstart job </button>
    </form>
        <form action="URL">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"> More information</button>
    </form>
</div>
</div>
</div>
{% endblock %}