
{% extends "layout.html" %}

{% block pageTitle %}
 Post-18 choices
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="exam-results">[Untitled]</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">choices at age 18+</li>
      </ol>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Choices at age 18+        
      </h1>
      {# <p>
        You must stay in some type of education or training until you are 18. There are many choices available when you turn 16, look at what option best suits you and your situation, strengths and interests.
      </p>
      <p>
      You can leave school on the last Friday in June if you'll be 16 by the end of the summer holidays.
      </p>
      <p>
      You must then do one of the following until you're 18:
      <ul class="govuk-list govuk-list--bullet">
        <li>
          stay in full-time education, for example at school, sixth form college of further education college
        </li>
        <li>
          start an apprenticeship or traineeship
        </li>
        <li>
          spend 20 hours or more a week working or volunteering while also doing part-time education or training
        </li>
      </ul>
      </p>
      <p>
        Your local authority has a duty to make sure you are offered a suitable place by the end of September. Contact your local Authority for information on who can help you find a suitable offer.

      </p> #}

    
    </div>
    
  </div>

  <div id="choices" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
     {# <h2 class="govuk-heading-l govuk-!-padding-top-9"> choices </h2>  #}
    </div>
  </div>
<p class="govuk-body govuk-!-padding-bottom-3">
<a class="govuk-link" href="which-schemes"> Compare all choices in a table </a>
</p>
  <div class="govuk-grid-row">
 {# HIGHER EDUCATION CARD #}
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="a-levels stock image">
      <h3 class="govuk-heading-s"><a href="alevels">Higher education</a></h3>
      <div class="text">
       <p>Advanced level qualifications (known as A levels) are subject-based qualifications that can lead to university, further study, training, or work.</p>
      </div>
    </div>
  </div>

{# APPRENTICESHIP CARD #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1581091226033-d5c48150dbaa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="apprenticeship">Apprenticeship</a></h3>
      <div class="text">
        <p>Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job.<br><br></p> 
      </div>
    </div>
  </div>

{# SUPPORTED INTERNSHIP CARD  #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="supportedinternship">Supported internship</a></h3>
      <div class="text">
        <p>Supported internships allow young people aged 16 to 24 with an Education, Health and Care plan (EHC), who need extra support to move into employment.</p> 
      </div>
    </div>
  </div>
  </div>
    
{# SCHOOL LEAVERS SCHEMES  #}
  <div class="govuk-grid-row">

<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="tlevels">School Leavers Schemes</a></h3>
      <div class="text">
        <p>T Levels are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They are a 2-year qualification and the equivalent to 3 A levels.</p> 
      </div>
    </div>
  </div>


{# 1 YEAR FUNDED COURSE CARD #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1589923188900-85dae523342b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="traineeship">1 year funded course for ages 18-19</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last up to 1 year.
</p> 
      </div>
    </div>
  </div>

{# KICKSTART CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1573497491208-6b1acb260507?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="traineeship">Get a Kickstart Job</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>

{# START A BUSINESS CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="traineeship">Start a business</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>

{# GET A JOB CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1549923746-c502d488b3ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="traineeship">Get a job</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>

{# INTERNSHIP CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1607134541550-2994abb8077b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29uc3RydWN0aW9uJTIwd29ya2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60" alt="">
      <h3 class="govuk-heading-s"><a href="traineeship">Internships</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>
        
{# TRAINEESHIP CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="traineeship">Traineeship</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>

    
{# HTQs) CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="htq">Higher technical skills courses (HTQs)</a></h3>
      <div class="text">
        <p>Vocational qualifications are work-related qualifications available in a wide range of career areas.</p> 
      </div>
    </div>
  </div>
  

</div>

<div class="govuk-grid-column-one-third" style="float:right">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Speak to an adviser
          </h2>
          <ul class="govuk-list">
            <li>
             <strong> Call </strong> 0800 100 900 or <a href="#"> use webchat </a>
            </li>
            <li>
              8am - 8pm Monday - Friday
            </li>
            <li>
              10am - 5pm Saturday 
            </li>
          </ul>
            
        </aside>
         <aside class="app-related-items" role="complementary" style="float:right">
          <h2 class="govuk-heading-m" id="subsection-title">
            Other opportunities
          </h2>
          <ul class="govuk-list">
            <li>
              You could look at what <a href="">work and study choices</a> will be available to you at 18
            </li>
            <li>
              You could also consider <a href="">volunteering</a> to strengthen your job and study opportunities
            </li>
          </ul>                  
        </aside>
    </div> 

   
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

</div>



{% endblock %}








{% block scripts %}

<script>

function ShowWithoutImages() {
  var cardWithImage = document.getElementById("cardGroupWithImages");
  var linkTitle = document.getElementById("showWithoutImages");
  var cardNoImage = document.getElementById("cardGroupNoImages");

  if (cardWithImage.style.display === "none") {
    cardWithImage.style.display = "block";
    cardNoImage.style.display = "none";
    linkTitle.innerHTML = 'See these without images';
  } else {
    cardWithImage.style.display = "none";
    cardNoImage.style.display = "block";
    linkTitle.innerHTML = 'See these with images';
  }
  
} 


</script>
{% endblock %}
