
{% extends "layout.html" %}

{% block pageTitle %}
Why are government schemes of interest to you?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">    
    
     <h1 class="govuk-heading-l">
       Compare your choices after GCSEs
     </h1> 

<div class="nhsuk-table-container">
  <table data-test="admin-participants-table" class="govuk-table nhsuk-table-responsive">
    <thead  class="nhsuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Qualification</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Length of time</th>
        <th scope="col" class="govuk-table__header">Assessment</th>
        <th scope="col" class="govuk-table__header">Level of study</th>
        <th scope="col" class="govuk-table__header">Awards UCAS points?</th>
        <th scope="col" class="govuk-table__header">Entry requirements</th>
        <th scope="col" class="govuk-table__header">Work experience</th>
        <th scope="col" class="govuk-table__header">What does it lead to?</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body nhsuk-table__body">
     
        {# Apprenticeships #}
     {% if data['schemes'] | includes('apprenticeships') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Qualification</span>
             <a href="schemes/apprenticeship"> Apprenticeships </a>       
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Description</span>
    A real job with training and a salary  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Length of time</span>
    1 year minimum  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Assessment</span>
    Depends on the apprenticeship but may include demonstrations, presentations, and/or exams  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Level</span>
    2/3 With possibility to progress to higher apprenticeships up to level 7
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Awards Ucas points?</span>
    No  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Entry requirements</span>
    <ul>
    <li>Employer dependent</li>
    <li>Age 16+</li>
    <li>Evidence of interest and ability to complete the apprenticeship</li>
    <ul>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Work experience</span>
    Yes (paid job with at least 20% off‑the‑job training)  </td>  
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">What does it lead to?</span>
    <ul>
    <li>Higher level or degree apprenticeship</li>
    <li>University or college</li>
    <li>Work</li>
    </ul>
  </td>
</tr>
{% endif %}

      {# A-Levels  #}
     {% if data['schemes'] | includes('alevels') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Scheme</span>
             <a href="schemes/kickstart"> A-levels </a>       
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Cost</span>
      No costs
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Benefits</span>
    Support young people to gain valuable experience and give them opportunities to start a new career in your industry
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Time</span>
      6-months
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Financialincentives</span>
    Yes
  </td>  
</tr>
{% endif %}

 {# Traineeships  #}
     {% if data['schemes'] | includes('traineeships') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Scheme</span>
             <a href="schemes/traineeships"> Traineeships </a>       
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Cost</span>
      No cost but some employers choose to cover living expenses
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Benefits</span>
   Helps you increase your capacity and productivity whilst developing a loyal and talented workforce
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Time</span>
      6-weeks to 12 months
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Financialincentives</span>
    Yes
  </td>  
</tr>
{% endif %}

 {# T Levels  #}
     {% if data['schemes'] | includes('tlevels') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Scheme</span>
             <a href="schemes/tlevels"> T Levels: Industry Placements </a>       
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Cost</span>
      No cost but some employers choose to cover living expenses
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Benefits</span>
   A learner spends 9 weeks with you at no cost
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Time</span>
      Short term 45-day industry placement
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Financialincentives</span>
    Yes
  </td>  
</tr>
{% endif %}


{# VTQs  #}
     {% if data['schemes'] | includes('vtqs') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Scheme</span>
             <a href="schemes/swap"> Vocational Technical Qualifications (VTQs) </a>       
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Cost</span>
     No cost, SWAP placements are entirely government-funded
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Benefits</span>
  Helps you recruit or train staff through fully-funded pre-employment training
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Time</span>
      6-weeks
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Financialincentives</span>
    No
  </td>  
</tr>
{% endif %}


{# Supported Internship  #}
     {% if data['schemes'] | includes('supportedinternship') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Scheme</span>
             <a href="schemes/supportedinternship"> Supported Internships for learners with additional needs </a>       
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Cost</span>
     No costs
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Benefits</span>
  Allows you to shape a job role that suits your business and the needs of the supported intern and increases your confidence of employing individuals with additional needs
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Time</span>
      6 to 12-months
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Financialincentives</span>
    No
  </td>  
  
</tr>
{% endif %}



  </tbody>
  </table>
</div>



    <p class="govuk-body">
    <a href="thirds" class="govuk-link"> Return to list of all schemes </a>
    </p>
      
    </div>
  </div>

{% endblock %}
