
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Why are government schemes of interest to you?
{% endblock %}

{% block beforeContent %} 

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">    
    
     <h1 class="govuk-heading-l">
       Compare your choices after GCSEs
     </h1> 

<div class="nhsuk-table-container">
  <table data-test="admin-participants-table" class="govuk-table nhsuk-table-responsive">
    <thead  class="nhsuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Qualification</th>
        <th scope="col" class="govuk-table__header">Length of time</th>
        <th scope="col" class="govuk-table__header">Assessment</th>
        <th scope="col" class="govuk-table__header">Level of study</th>
        <th scope="col" class="govuk-table__header">Awards UCAS points?</th>
        <th scope="col" class="govuk-table__header">Entry requirements</th>
        <th scope="col" class="govuk-table__header">Work experience</th>
        <th scope="col" class="govuk-table__header">What does it lead to?</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body nhsuk-table__body">
     
        {# Apprenticeships #}
     {% if data['schemes'] | includes('apprenticeships') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Qualification</span>
             <a href="schemes/apprenticeship"> Apprenticeships </a>  
             <p>A real job with training and a salary</p>    
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Length of time</span>
    1 year minimum  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Assessment</span>
    Depends on the apprenticeship but may include demonstrations, presentations, and/or exams  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Level</span>
    2/3 With possibility to progress to higher apprenticeships up to level 7
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Awards Ucas points?</span>
    No  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Entry requirements</span>
    <ul>
    <li>Employer dependent</li>
    <li>Age 16+</li>
    <li>Evidence of interest and ability to complete the apprenticeship</li>
    <ul>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Work experience</span>
    Yes (paid job with at least 20% off‑the‑job training)  </td>  
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">What does it lead to?</span>
    <ul>
    <li>Higher level or degree apprenticeship</li>
    <li>University or college</li>
    <li>Work</li>
    </ul>
  </td>
</tr>
{% endif %}

      {# A-Levels  #}
     {% if data['schemes'] | includes('alevels') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Qualification</span>
             <a href="schemes/kickstart"> A-levels </a>  
             <p>An academic qualification similar in style to GCSEs, that prepares you for further study</p>     
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Length of time</span>
    2 years  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Assessment</span>
    Mostly exams at the end of the course  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Level</span>
    3
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Awards Ucas points?</span>
    Yes  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Entry requirements</span>
    For individual schools and colleges to decide (commonly 5 GCSEs at grades 4 and above)</td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Work experience</span>
    No  </td>  
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">What does it lead to?</span>
    <ul>
    <li>Apprenticeship</li>
    <li>University or college</li>
    <li>Work</li>
    </ul>
  </td>
</tr>
{% endif %}

 {# Traineeships  #}
     {% if data['schemes'] | includes('traineeship') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Scheme</span>
             <a href="schemes/traineeships"> Traineeships </a>  
             <p>A work‑focused study programme that prepares you for an apprenticeship or work</p>     
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Length of time</span>
   6 weeks to 1 year, but most will be under 6 months </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Assessment</span>
    Your employer should offer an interview for an apprenticeship or job if available, or an exit interview with written feedback  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Level</span>
    N/A  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Awards Ucas points?</span>
    No  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Entry requirements</span>
    You can apply of you have little or no work experience but are:
    <ul>
    <li>motivated to work</li>
    <li>aged 16 to 24 (or 25 with an EHC plan)</li>
    <li>qualified up to level 3</li>
    <ul>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Work experience</span>
    Yes (minimum of 70 hours)  </td>  
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">What does it lead to?</span>
    <ul>
    <li>Apprenticeship</li>
    <li>Work</li>
    </ul>
  </td> 
</tr>
{% endif %}

 {# T Levels  #}
     {% if data['schemes'] | includes('tlevels') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Qualification</span>
             <a href="schemes/tlevels"> T Levels: Industry Placements </a>  
             <p>A technical study course, equivalent to 3 A levels, with an industry placement that makes up 20% of the course. T levels are designed to give you the skills that employers need</p>     
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Length of time</span>
   2 years </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Assessment</span>
    Exams, projects and practical assignments</td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Level</span>
    3  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Awards Ucas points?</span>
    Yes  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Entry requirements</span>
    Set by each school/college
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Work experience</span>
    Yes (80% classroom, 20% work)  </td>  
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">What does it lead to?</span>
    <ul>
    <li>Apprenticeship</li>
    <li>University or college</li>
    <li>Work</li>
    </ul>
  </td> 
</tr>
{% endif %}


{# VTQs  #}
     {% if data['schemes'] | includes('vtqs') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Qualification</span>
             <a href="schemes/swap"> Vocational Technical Qualifications (VTQs) </a> 
             <p>Qualifications which teach you how to do tasks specifically related to the industry and role you want to be in</p>      
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Length of time</span>
   Course dependent </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Assessment</span>
    Depends on the course but may include coursework and/or exams</td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Level</span>
    1+  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Awards Ucas points?</span>
    Some – depends on the course and awarding organisation  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Entry requirements</span>
    Course dependent
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Work experience</span>
    Course dependent </td>  
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">What does it lead to?</span>
    <ul>
    <li>Apprenticeship</li>
    <li>University or college</li>
    <li>Work</li>
    </ul>
  </td>  
</tr>
{% endif %}


{# Supported Internship  #}
     {% if data['schemes'] | includes('supportedinternship') %}
<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Qualification</span>
             <a href="schemes/supportedinternship"> Supported Internships for learners with additional needs </a>   
             <p>Allows you to shape a job role that suits your business and the needs of the supported intern and increases your confidence of employing individuals with additional needs</p>    
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Length of time</span>
   6 to 12-months </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Assessment</span>
    [Assessment info here]</td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Level</span>
    [Level info here]  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Awards Ucas points?</span>
    [Ucas info here]  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Entry requirements</span>
    [Entry info here]
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Work experience</span>
    [Work experience info here </td>  
  </td>  
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">What does it lead to?</span>
    <ul>
    <li>[What does it lead to info here]</li>
    </ul>
  </td>  
  
</tr>
{% endif %}



  </tbody>
  </table>
</div>



    <p class="govuk-body">
    <a href="all-choices" class="govuk-link"> Return to list of all 16+ choices </a>
    </p>
      
    </div>
  </div>

{% endblock %}
