
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
T-Levels
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back to post-16 choices',
        href: 'gcse'
    }) }}

<nav class="govuk-body-s">
   <ul class="nav-list">
     <li>
      <a href="alevels">A-Levels</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       T-Levels
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="vtq">VTQs</a>
     </li>
 </ul> 
</nav>

{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       T-Levels
      </h2>
      <p class="govuk-body choice-body">
      T Levels are a qualification for students aged 16 to 19 who’ve finished GCSEs. They are a 2-year qualification and the equivalent to 3 A levels.
      </p>
       <p class="govuk-body choice-body">
       T Levels focus on vocational skills and can help students into skilled employment, higher study or apprenticeships
       </p>
       <p class="govuk-body choice-body">
       You’ll spend 80% of your time in the classroom and 20% on a 45-day placement with an employer to give you the skills and knowledge companies look for.
      </p>
    </div>
  <div class="govuk-grid-column-one-third">
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group govuk-!-margin-top-2">
<form action="https://www.tlevels.gov.uk/students/find">
  {{ govukButton({
    text: "Find a T-Level"
  }) }}
</form>

<form action="https://www.tlevels.gov.uk/students">
  {{ govukButton({
    text: "More information",
    classes: "govuk-button--secondary"
  }) }}
  </form>
</div>   
 </div>    </div>
  </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m"> 
  How much does a T-level cost 
  </h2>
  <p>Content about T-levels cost will be here. </p>
  

   <h2 class="govuk-heading-m"> 
  What does a T-Level include 
  </h2>
  <p>T Level courses will include the following compulsory elements: </p>
  <ul class="govuk-list">
    <li>
      a technical qualification, which will include specialist skills and knowledge for an occupation or career
    </li>
    <li>
      core theory, concepts and skills for an industry area
    </li>
    <li>
      an industry placement with an employer
    </li>
    <li>
    a minimum standard in maths and English if students have not already achieved them
    </li>
  </ul>

   <h2 class="govuk-heading-m"> 
  How to apply for a T-Level
  </h2>
  <p>There are 2 steps to applying for a T level.</p>
  <ul class="govuk-list govuk-list--number">
    <li>
      <a target="_blank" href="https://www.tlevels.gov.uk/students/find"> Search for a T-Level (opens in a new tab) </a>
    </li>
    <li>
      Contact the training provider against offering the most suitable one.
    </li>
  </ul>

  <h2 class="govuk-heading-m"> 
Get help and advice
  </h2>
<p> Content placeholder </p>

<h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nYOcO97FKqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div id="choices" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
     <h2 class="govuk-heading-l govuk-!-padding-top-9"> Other choices </h2> 
    </div>
  </div>
<p class="govuk-body govuk-!-padding-bottom-3">
<a class="govuk-link" href="compare"> Compare all choices in a table </a>
</p>
  <div class="govuk-grid-row">
        {# A-LEVELS CARD #}
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="a-levels stock image">
      <h3 class="govuk-heading-s"><a href="alevels">A-Levels</a></h3>
      <div class="text">
       <p>Advanced level qualifications (known as A levels) are subject-based qualifications that can lead to university, further study, training, or work.</p>
      </div>
    </div>
  </div>

{# APPRENTICESHIP CARD #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="apprenticeship">Apprenticeship</a></h3>
      <div class="text">
        <p>Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job.<br><br></p> 
      </div>
    </div>
  </div>

{# SUPPORTED INTERNSHIP CARD  #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="supportedinternship">Supported internship</a></h3>
      <div class="text">
        <p>Supported internships allow young people aged 16 to 24 with an Education, Health and Care plan (EHC), who need extra support to move into employment.</p> 
      </div>
    </div>
  </div>
  </div>
    
{# T-LEVELS CARD  #}
  <div class="govuk-grid-row">

<div class="govuk-grid-column-one-third">
    <div class="card active">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s">T-Levels</h3>
      <div class="text">
        <p>T Levels are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They are a 2-year qualification and the equivalent to 3 A levels.</p> 
      </div>
    </div>
  </div>



        
{# TRAINEESHIP CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="traineeship">Traineeship</a></h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>

    
{# Vocational Technical Qualifications (VTQs) CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="vtq">Vocational Technical Qualifications (VTQs)</a></h3>
      <div class="text">
        <p>Vocational qualifications are work-related qualifications available in a wide range of career areas.</p> 
      </div>
    </div>
  </div>

</div>

</div>


</div>
</div>
</div>


{% endblock %}