
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
T Levels
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices">All choices  </a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">T Levels</li>
      </ol>
    </div>
  </div>


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       T Levels
      </h2>
    </div>
</div>
 </div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


      <p class="govuk-body">
T Levels are a qualification for students aged 16 to 19 who’ve finished their GCSEs. They are a 2-year qualification and are equivalent to 3 A levels.      </p>
       <p class="govuk-body">
You’ll spend 80% of your time in the classroom and 20% on a minimum 9-week placement with an employer, meaning you can gain industry experience while you continue your studies.
       </p>
       <p class="govuk-body">
T Levels can help you into skilled employment, higher study or apprenticeships.
      </p>

  <h2 class="govuk-heading-m"> 
  How much does a T level cost 
  </h2>
  <p class="govuk-body">Like A levels, there are no tuition fees to study a T Level if you start before you are 19.
 </p>
  

   <h2 class="govuk-heading-m"> 
  What does a T Level include 
  </h2>
  <p class="govuk-body">A T Level course will allow you to gain a technical qualification and learn specialist skills and knowledge for your chosen occupation or career.
 </p>

<p class="govuk-body">T Levels include an industry placement which will last for at least 9 weeks (or 45 days) – when and how you complete it depends on the T Level, college and employer.</p>
<p class="govuk-body">During your placement you will:</p>

  <ul class="govuk-list govuk-list---bullet">
    <li>
      have a line manager who will supervise and support you
    </li>
    <li>
      be provided with feedback at the end of your placement
    </li>
  </ul>


<h2 class="govuk-heading-m"> 
  What can I study?
  </h2>
  <p class="govuk-body">Here are the T Level subjects currently available, with more to be added from September 2022 onwards:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.tlevels.gov.uk/students/subjects/building-services-engineering">
      Building Services Engineering for Construction
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/design-surveying-planning">
      Design, Surveying and Planning for Construction
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/digital-business-services">
      Digital Business Services
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/digital-production-design-development">
      Digital Production, Design and Development
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/digital-support-services">
     Digital Support Services
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/education">
      Education and Childcare
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/health">
      Health
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/healthcare-science">
      Healthcare Science
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/onsite-construction">
      Onsite Construction
    </a></li>
    <li><a href="https://www.tlevels.gov.uk/students/subjects/science">
      Science
    </a></li>
  </ul>

<p class="govuk-body">Read about <a href="https://www.tlevels.gov.uk/students/subjects">the upcoming T Level subjects.</a></p>

   <h2 class="govuk-heading-m"> 
  How to apply for a T Level
  </h2>
  <p class="govuk-body">There are 2 steps to applying for a T level.</p>
  <ul class="govuk-list govuk-list--number">
    <li>
      <a target="_blank" href="https://www.tlevels.gov.uk/students/find"> Search for a T Level (opens in a new tab) </a>
    </li>
    <li>
      Contact the training provider against offering the most suitable one.
    </li>
  </ul>

  <h2 class="govuk-heading-m"> 
Get help and advice
  </h2>
<p class="govuk-body"> [Content placeholder] </p>


<h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Najeeb – Construction T Level
 </h3> 
  <p class="govuk-body"> “I’ve learnt a lot from the quantity surveying team, the site management team, even the health and safety team, the design team. I’ve learnt from all of them because I’ve had a taste of all their roles.”
 </p>

<iframe class="govuk-!-margin-bottom-6" width="560" height="315" src="https://www.youtube.com/embed/1zPMwM2ewms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




</div>

   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices  
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
       T Levels
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Get a Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                   
        </aside>
    </div>

    </div>

  <div class="govuk-width-container govuk-!-margin-left-3">
  <div class="govuk-grid-row"> 
<div class="govuk-column-full"> 

<h2 class="govuk-heading-m">What you can do with this T Level <h2>
<p class="govuk-body">This course is suitable for... Students can progress into roles such as:</p>
</div>
</div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">
    <a href="">Nursery Worker</a>
    </p>
    </div>
     <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">
    <a href="">Teaching Assistant</a>    
    </p>
    </div>
     <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">
    <a href="">Learning Mentor</a>
    </p>
    </div>
    </div>
        <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">
    <a href="">Special Educational Needs Teaching Assistant</a>
    </p>
    </div>
         <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">
    <a href="">Play Worker</a>
    </p>
    </div>
         <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">
    <a href="">Portage Home Visitor</a>
    </p>
    </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6"> 
<div class="govuk-column-full"> 
<p class="govuk-body"> Students can also use T Levels to do a related higher level apprenticeship or degree course. </p>
</div>
</div>
  </div>

  <hr>


<div class="govuk-width-container">
<div class="govuk-grid-row">

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group govuk-!-margin-left-3 govuk-!-margin-top-6 govuk-!-margin-bottom-6">
<form action="https://www.test.tlevels.gov.uk/students/find">
  {{ govukButton({
    text: "Find a T level"
  }) }}
</form>

<form action="https://www.test.tlevels.gov.uk/students/">
  {{ govukButton({
    text: "More information",
    classes: "govuk-button--secondary"
  }) }}
  </form>
</div>   
 </div>
  </div>

</div>
</div>
</div>



</div>



</div>

</div>


</div>
</div>
</div>


{% endblock %}