
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
T Levels
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices">All choices  </a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">T Levels</li>
      </ol>
    </div>
  </div>


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       T Levels
      </h2>
    </div>
</div>
 </div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


      <p class="govuk-body">
T Levels are a 2-year course for 16 to 19-year-olds and are the equivalent of 3 A levels.
       <p class="govuk-body">
A T Level allows you to gain a qualification and learn specialist skills for your chosen career through a mix of classroom learning and an industry placement. 
       </p>


   <h2 class="govuk-heading-m"> 
  What does a T Level include 
  </h2>
  <p class="govuk-body">You’ll spend 80% of your time in the classroom and 20% on a minimum 9-week placement with an employer, meaning you can gain industry experience while you continue your studies. 

 </p>

<p class="govuk-body">When and how you complete it depends on the T Level, college and employer.
</p>
<p class="govuk-body">During your placement you will:</p>

  <ul class="govuk-list govuk-list---bullet">
    <li>
      have a line manager who will supervise and support you
    </li>
    <li>
      be provided with feedback at the end of your placement
    </li>
  </ul>




<h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Najeeb – Construction T Level
 </h3> 
  <p class="govuk-body"> “I’ve learnt a lot from the quantity surveying team, the site management team, even the health and safety team, the design team. I’ve learnt from all of them because I’ve had a taste of all their roles.”
 </p>

<iframe class="govuk-!-margin-bottom-6" width="560" height="315" src="https://www.youtube.com/embed/1zPMwM2ewms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<h2 class="govuk-heading-m">What you can do with this T Level <h2>
<p class="govuk-body">This course is suitable for... Students can progress into roles such as:</p>

<ul class="govuk-list govuk-list--bullet">
   <li>
    <a href="">Nursery Worker</a>
    </li>
    <li>
    <a href="">Teaching Assistant</a>    
    </li>
    <li>
    <a href="">Learning Mentor</a>
    </li>
    <li>
    <a href="">Special Educational Needs Teaching Assistant</a>
    </li>
    <li>
    <a href="">Play Worker</a>
    </li>
    <li>
    <a href="">Portage Home Visitor</a>
    </li>
    </ul>

<p class="govuk-body"> Students can also use T Levels to do a related higher level apprenticeship or degree course. </p>


</div>

   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices  
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
       T Levels
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                   
        </aside>
    </div>


 
  </div>




<div class="govuk-width-container">
<div class="govuk-grid-row">



{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group govuk-!-margin-left-3 govuk-!-margin-top-6 govuk-!-margin-bottom-6">
<form action="https://www.test.tlevels.gov.uk/students/find">
  {{ govukButton({
    text: "Find a T level"
  }) }}
</form>

<form action="https://www.test.tlevels.gov.uk/students/">
  {{ govukButton({
    text: "More information",
    classes: "govuk-button--secondary"
  }) }}
  </form>
</div>   
 </div>
  </div>

</div>
</div>
</div>



</div>



</div>

</div>


</div>
</div>
</div>


{% endblock %}