
{% extends "layout.html" %}

{% block pageTitle %}
Traineeship
{% endblock %}

{% block beforeContent %} {{ super() }}

{{ govukBackLink ({
        text: 'Back to post-16 options',
        href: 'index'
    }) }}

<nav class="govuk-body-s">
   <ul class="nav-list">
     <li>
      <a href="alevels">A-Levels</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
      <a href="tlevels">T-Levels</a>
     </li>
     <li>
      Traineeship
     </li>
     <li>
      <a href="vtq">VTQs</a>
     </li>
 </ul> 
</nav>

{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header choice-header  govuk-!-padding-top-6 govuk-!-padding-bottom-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="traineeship" class="govuk-heading-l choice-title">
       Traineeship
      </h2>
      <p class="govuk-body choice-body">
      A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
      </p>
       <p class="govuk-body choice-body">
      Traineeships help 16 to 24-year-olds get ready for an apprenticeship or job if they don’t have the appropriate skills or experience.
       </p>
    </div>
    <div class="govuk-grid-column-one-third">
           <img class="cardThumbnail" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>
  </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<p>
Traineeships are not jobs and employers are not required to pay you for the work placement, but they can support you with expenses such as transport and meals.
</p>
<p>
If you are eligible, you can maintain your entitlement to benefits whilst on a traineeship as necessary.
</p>
<p>
Along with recognition of your learning, there will be support to link you with job opportunities.
</p>
<p>
You may get:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    expenses for transport and meals from your employer
  </li>
  <li>
  financial support for travel, childcare or a disability from your training provider
  </li>
  <li>
    support from your local Jobcentre Plus if you are eligible for work benefits
  </li>
</ul>
  <h2 class="govuk-heading-m"> 
How much does a traineeship cost  
  </h2>
  <p>Traineeships are free. The cost of training is given directly to training providers by the government.
 </p>
  

   <h2 class="govuk-heading-m"> 
  Who can apply for a traineeship
  </h2>
  <p>You can apply if you're: </p>
  <ul class="govuk-list--bullet govuk-list">
    <li>
     eligible to work in England
    </li>
    <li>
     unemployed and have little or no work experience
    </li>
    <li>
     aged 16 to 24 and qualified up to and including Level 3 (equivalent to A-Level)
    </li>    
  </ul>

   <h2 class="govuk-heading-m"> 
    What do you get from a traineeship
  </h2>
  <p>From the training provider you get:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
     training to prepare you for work, including CV writing and what to expect in the workplace
    </li>
    <li>
      support to improve your English, maths and digital skills if you need it
    </li>
    <li>
    sector-focused vocational learning to help prepare you for your apprenticeship or job
    </li>
    <li>
    recognition of your learning
    </li>
  </ul>

<p> From the employer you get:
<ul class="govuk-list govuk-list--bullet">
  <li>
    a high-quality work placement of at least 70 hours
  </li>
  <li>
    an interview for an apprenticeship or job if available, or an exit interview with written feedback
  </li>
</ul>

<p> Programmes can be tailored to meet your needs and prepare you for what local businesses are looking for. </p>
  
  
  <h2 class="govuk-heading-m"> 
    How to find a traineeship
  </h2>
<p> You can use our <a href="https://www.gov.uk/find-traineeship" target="_blank"> find a traineeship service (opens in a new tab)</a> or by speaking to your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
   local college or training provider if they have opportunities
  </li>
  <li>
    school careers advisers if you’re 16 to 18 years old
  </li>
  <li>
    Jobcentre Plus adviser if you’re in receipt of benefits
  </li>
</ul>

<h2 class="govuk-heading-m"> 
Get help and advice 
  </h2>
<p>  Contact the <a href="nationalcareers.service.gov.uk/" target="_blank"> National Careers Service (opens in a new tab)</a>for advice. </p>

<p> Careers helpline for teenagers </p>

<p> 
If you’re receiving benefits, contact Jobcentre Plus to check if the traineeship will affect your claim.
</p>

<h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nYOcO97FKqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div id="choices" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
     <h2 class="govuk-heading-l govuk-!-padding-top-9"> Other options </h2> 
    </div>
  </div>
<p class="govuk-body govuk-!-padding-bottom-3">
<a class="govuk-link" href="compare"> Compare all options in a table </a>
</p>
  <div class="govuk-grid-row">
        {# A-LEVELS CARD #}
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="a-levels stock image">
      <h3 class="govuk-heading-s"><a href="alevels">A-Levels</a></h3>
      <div class="text">
       <p>Advanced level qualifications (known as A levels) are subject-based qualifications that can lead to university, further study, training, or work.</p>
      </div>
    </div>
  </div>

{# APPRENTICESHIP CARD #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="apprenticeship">Apprenticeship</a></h3>
      <div class="text">
        <p>Apprenticeships are for those aged 16 or over and combine working with studying to gain skills and knowledge in a specific job.<br><br></p> 
      </div>
    </div>
  </div>

{# SUPPORTED INTERNSHIP CARD  #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="supportedinternship">Supported internship</a></h3>
      <div class="text">
        <p>Supported internships allow young people aged 16 to 24 with an Education, Health and Care plan (EHC), who need extra support to move into employment.</p> 
      </div>
    </div>
  </div>
  </div>
    
{# T-LEVELS CARD  #}
  <div class="govuk-grid-row">

<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="tlevels">T-Levels</a></h3>
      <div class="text">
        <p>T Levels are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They are a 2-year qualification and the equivalent to 3 A levels.</p> 
      </div>
    </div>
  </div>



        
{# TRAINEESHIP CARD  #}


<div class="govuk-grid-column-one-third">
    <div class="card active">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s">Traineeship</h3>
      <div class="text">
        <p>A traineeship is a skills development programme that includes a work placement that can last from 6 weeks up to 1 year.
</p> 
      </div>
    </div>
  </div>

    
{# Vocational Technical Qualifications (VTQs) CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      <img class="cardThumbnail" src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
      <h3 class="govuk-heading-s"><a href="vtq">Vocational Technical Qualifications (VTQs)</a></h3>
      <div class="text">
        <p>Vocational qualifications are work-related qualifications available in a wide range of career areas.</p> 
      </div>
    </div>
  </div>

</div>

</div>


</div>
</div>
</div>


{% endblock %}