


.post {
	text-decoration: none;
	color: inherit;
	max-width: 254px;
	position: relative;
	padding: 1rem;
    margin-bottom: 35px;
    box-shadow: 0 0px #ffffff, 0 6px #104F75;
	
    // box-shadow: inset 0 0 0 4px #104F75;
	background-color: rgb(240, 240, 240);
	cursor: pointer; 
	&:before {
		position: absolute; 
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #104F75;
		transform-origin: 0 bottom 0;
		transform: scaleY(0);
		transition: .4s ease-out;
	}
	
	&:hover {
		.post-title {
			color: #FFF;
		}
		&:before {
			transform: scaleY(1);
		}
        .post-text {
			color: #FFF;
		}
		&:before {
			transform: scaleY(1);
		}
	}
}

.post-title {
    color: #1d70b8;
    text-decoration: underline;
	position: relative;
	font-size: 1.1875rem;
	font-weight: 700;
	line-height: 1.333;
	transition: .4s ease-out;
}

.post-text {
    position: relative;
    transition: .4s ease-out;
}