html {
    scroll-behavior: smooth;
  }
  

.choice-header {
    background: #104F75;
}

.page-title-header {
  width:100%;
  padding: right 15pxs;
}

.choice-title, .choice-body{
    color: white;
}

.choice-link {
    color: white!important;
    margin-top: 50px;
}

.choice-link:focus {
    color: black!important;
}

.card h3 a {
  margin:7px;  
}

.container { 
  display: flex; /*Make sure to call this on your container*/
  align-items: stretch; /*stretches all cards same height*/
  justify-content: space-around; /*some space between cards*/
}


.card {
  border-radius: 3px;
  min-height: 12.5em;
  box-shadow: 1px 1px 10px 1px #cccccc;
  position: relative;
  margin: 0.5em;
  margin-bottom: 20px;
  background: #f5f5f5;
}

.card:hover {
  box-shadow: 0px 0px 0px 4px #000000;
}

.card h3 a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card h3{
  padding: 0.5em 0 0 0.4em;
}
.text {
  padding: 0 1em 0.1em 1em;
}

.cardThumbnail {
  padding: none;
  max-height: 100px;
  object-fit: cover;
  border-radius: 3px 3px 0px 0px;
  margin: none;
  width: 100%;
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}

.tile-title {
  padding-top: 10px;
}

@media screen and (max-width: 625px) {
  .svg-icon {
    display: none;
  }
}

.active {
  box-shadow: 0 -2px, 0 4px #0b0c0c;
  background: rgb(226, 226, 226);
}

.active:hover {
  box-shadow: 1px 1px 10px 1px #cccccc;
  box-shadow: 0 -2px, 0 4px #0b0c0c;
  background: rgb(226, 226, 226);


}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.grey-box {
	padding: 15px 15px 1px 15px;
	margin-bottom: 20px;
	background: #f3f2f1;
 }

//  .ec-hero-black{
//    background-color: #111;
//    padding: 15px 0px 0px 00px;
//    box-shadow: 1px 1px 10px 1px #cccccc;
//  }


 .filter__footer {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #b1b4b6;
  box-shadow: 0px 0 5px rgba(177, 180, 182, 0.8);
}

