
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Start a business
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Start a business</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
       Start a business
      </h2>
           
    </div>
    </div>
    </div>


    </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">
If you are 18 or over and have a great business idea, starting your own business is an option. 
      </p> 

  <h2 class="govuk-heading-m"> 
Where do I start?  </h2>
  <p class="govuk-body"><a href="https://www.princes-trust.org.uk/help-for-young-people/tools-resources/business-tools">The Prince’s Trust </a>has a wide range of resources to help you get started, including business plan templates and finance advice.  </p>
  
<p class="govuk-body">There are also <a href="https://www.gov.uk/business-finance-support?business_stages%5B%5D=not-yet-trading">government-backed schemes</a> that can provide help and support for business start-ups. </p>
  

  <h2 class="govuk-heading-m"> 
Can I get funding  </h2>
<p class="govuk-body"> If you’re aged 18 to 30, you can <a href="https://www.gov.uk/business-finance-support/enterprise-programme-for-young-people-uk">apply for the Prince’s Trust Enterprise programme</a> which offers funding from £1000 to £5000.  </p>

  <h2 class="govuk-heading-m"> 
How do I set up my business  </h2>
<p class="govuk-body"> What you need to do will depend on:
 </p>
 <ul class="govuk-list govuk-list--bullet">
 <li>
the type of business
 </li>
 <li>
 where you work
 </li>
 <li>
if you have employees
 </li>
 </ul>




<p class="govuk-body"> Check to see <a href="https://www.gov.uk/set-up-business">what you need to do to set up your business.</a> 
 </p>







</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            All choices
          </h2>
            <ul>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
     <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
     <li>
      <a href="1-year-course">1 year funded course for 18-19 year olds</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       Start a business
     </li>
       <a href="get-a-job">Get a job </a>
     </li>
     <li>
       <a href="internships">Internships and volunteering</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
     
 </ul>                   
        </aside>
    </div> 

    <div>

</div>

</div>





</div>

</div>


</div>
</div>
</div>

<section class="govuk-!-margin-top-5">
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<p>
<br>
<br>
<br>
<br>
</p>

{% endblock %}

{% block footer %}

<div class="filter__footer">
<div class="govuk-width-container">
 <form action="/search-results.html">
        <button class="govuk-button"> Start a business </button>
    </form>
       
</div>
</div>
{% endblock %}