
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
A Levels
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices">Explore your education and training choices </a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">A Levels</li>
      </ol>
    </div>
  </div>

{% endblock %}

{% block content %}
</div>

<div class="govuk-grid-row page-title-header ec-hero-black  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
      A Levels     

<p class="govuk-body choice-body">
      This subject based qualification, for those aged 16 and over, can lead to university, further study, training, or work.
</p> 
      </h2>
          
    </div>

<div class="grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">


    </div>
</div>
 </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">



{# entry reqs #}
<div class="govuk-grid-column-two-thirds">

   <p class="govuk-body">
A levels are subject-based qualifications assessed by exams. They can lead to further study, training or work.
</p>
 <p class="govuk-body">
You usually study between 1 and 5 A levels over 2 years. Most students choose 3 subjects to study but you can take more or fewer. You can even study for a <a href="https://www.ucas.com/further-education/post-16-qualifications/qualifications-you-can-take/btec-diplomas">BTEC </a>or other qualification at the same time. 
 </p>


<div id="cost" class="section_container">
  <h2 class="govuk-heading-m"> 
  Grades you need to take A levels
  </h2>


  <p class="govuk-body">You normally need: </p>
<ul class="govuk-list govuk-list--bullet">
<li>
At least 5 GCSEs at grades 9 to 4
</li>
<li>
At least grade 6 in the subjects you want to study
</li>
</ul>
</div>

{# choosing #}
<div id="include" class="section_container govuk-!-margin-bottom-5">
 <h2 class="govuk-heading-m "> 
Choosing your A level subjects </h2>
 
<p class="govuk-body">
When deciding which subjects to take at A level, you should consider:
</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
which subjects you're good at or would be interested in
    </li>
    <li>
wha grades you might need for a certain job or further study after A levels
    </li>
  </ul>

  <p class="govuk-body">Find out more about A levels at: <a href="https://www.ucas.com/further-education/post-16-qualifications/qualifications-you-can-take/levels">UCAS Information about A levels</a>
 </p>

 
</div>


{# what they are used for #}
<div id="who" class="section_container">
 <h2 class="govuk-heading-m"> 
Options after A levels </h2> 
  <p class="govuk-body"> You can use your A levels towards: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
apprenticeships    </li>
    <li>
university   </li>
    <li>
traineeships
    </li>
    <li>
a job    </li>
  </ul>
</div>

<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3"

<form action="https://nationalcareers.service.gov.uk/find-a-course/page?">
<button class="govuk-button" data-module="govuk-button">
Find a course
</button>
</form>
</div>


</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       A Levels
     </li>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
      <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div> 

<div>

</div>


</div>
</div>

</div>
</div>
</div>



</div>

</div>

</div>
</div>
</div>

<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




