
{% extends "layout_ncs_erh.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
 All choices
{% endblock %}

{% block beforeContent %}
</div>
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Explore your education and training choices</li>
      </ol>
    </div>
  </div>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="grid-column-three-fifths">
      <h1 class="govuk-heading-xl">
You don't need to know where you're going<br><span style="color: #FEEf00"> to get going </span>    </h1>
     <p class="govuk-body choice-body">
     There are lots of work and study choices available to help you <br><span style="color: #FEEf00">get the jump on a dream job you haven't dreamt of yet. </span></p>
     </p>
      <p class="govuk-body choice-body govuk-!-font-weight-bold">
     Already have a career in mind? Use our <a href="https://nationalcareers.service.gov.uk/explore-careers"> Explore Careers</a> service.
     </p>
         
    </div> 

<div class="grid-column-two-fifths">

<img class="man-running" src="/public/images/GTJ-Header-Image-Man-Jumping-Placeholder.png">

<img class="GTJ-logo" src="/public/images/GTJ-Logo-Lockup-Web.png">

</div>


  </div>
  </div> 
  </div>

{% endblock %}

{% block content %}
  <div class="govuk-width-container">

  {# <div id="choices" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
     {# <h2 class="govuk-heading-l govuk-!-padding-top-9"> choices </h2>  #}
    {# </div>
  </div> #} 


<div class="govuk-grid-row govuk-!-margin-top-5 ">
<div class="govuk-grid-column-one-third">

<h2 class="govuk-heading-m">Explore your choices</h2>
</div>
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body govuk-!-padding-bottom-3 govuk-!-padding-top-3" align="right"> Show: <span style="margin: 0 8px"> </span>All <span style="margin: 0 8px"> </span><a class="govuk-link" href="all-choices-academic">Study  </a><span style="margin: 0 8px"> </span> <a class="govuk-link" href="all-choices-work-based"> Work  </a> <span style="margin: 0 8px"> </span><a class="govuk-link" href="all-choices-mixed"> Combine study and work </a>

</p>
</div>
</div>

  <div class="govuk-grid-row govuk-!-margin-top-5">


  {# APPRENTICESHIP CARD #}

  <div class="govuk-grid-column-two-thirds">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1581091226033-d5c48150dbaa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="apprenticeship">Apprenticeship</a></h3>
      <div class="text">
        <p class="govuk-body">Apprenticeships are industry-recognised qualifications for those aged 16 and over and provide the opportunity to get hands-on experience by working whilst studying.
<br><br><br><br><br></p> 
      </div>
    </div>
  </div>



  {# Vocational Technical Qualifications (VTQs) CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="vtq">Vocational Technical Qualifications (VTQs)</a></h3>
      <div class="text">
        <p class="govuk-body">A VTQ gives the opportunity for those aged 16 to 19 years old to gain skills and experience with a work-based qualification in a wide range of career options.  
</p> 
      </div>
    </div>
  </div>

</div>



  {# TRAINEESHIP CARD  #}

  <div class="govuk-grid-row">


<div class="govuk-grid-column-one-half">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="traineeship">Traineeship</a></h3>
      <div class="text">
        <p class="govuk-body">Traineeships give 16 to 24-year-olds the opportunity to gain the skills and work experience needed to move into an apprenticeship. 
  

<br><br><br></p> 
      </div>
    </div>
  </div>



  {# # T LEVELS CARD  #} 

<div class="govuk-grid-column-one-half">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="tlevels">T Levels</a></h3>
      <div class="text">
        <p class="govuk-body">T-levels give 16 to 19-year-olds the opportunity to get real work experience with an industry placement whilst gaining a qualification that employers look for.
</p> 
      </div>
    </div>
  </div>
  </div>


  <div class="govuk-grid-row">


 {# HTQs) CARD  #}

<div class="govuk-grid-column-two-thirds">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="htq">Higher technical skills courses (HTQs)</a></h3>
      <div class="text">
        <p class="govuk-body">For those aged 18 and over, continue your higher education with a degree at university and gain the knowledge to find employment in a particular industry or job role. 
 <br><br><br><br><br></p> 
      </div>
    </div>
  </div>


 



{# A-LEVELS CARD #}
  <div class="govuk-grid-column-one-third">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="a-levels stock image"> #}
      <h3 class="govuk-heading-s"><a href="alevels">A Levels</a></h3>
      <div class="text">
       <p class="govuk-body">A levels are subject-based qualifications for those aged 16 and over and could lead to university, further study, or starting work.  
<br><br><br></p>
      </div>
    </div>
  </div>

</div>


  <div class="govuk-grid-row">


 {# HIGHER EDUCATION CARD #}

  <div class="govuk-grid-column-one-third">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="graduation stock image"> #}
      <h3 class="govuk-heading-s"><a href="higher-education">Higher education</a></h3>
      <div class="text">
       <p class="govuk-body">For those aged 18 and over, continue your higher education with a degree at university and gain the knowledge to find employment in a particular industry or job role. 

       <br></p>
      </div>
    </div>
  </div>



  {# SUPPORTED INTERNSHIP CARD  #}

  <div class="govuk-grid-column-two-thirds">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="supportedinternship">Supported internships for learners with an Education Health and Care Plan (EHCP)</a></h3>
      <div class="text">
        <p class="govuk-body">For those aged 16 to 24 with an education, health and care plan (EHCP), a supported internship provides the support needed to make the move into employment.    
<br><br><br><br></p> 
      </div>
    </div>
  </div>




 
</div>


  <div class="govuk-grid-row">


{# KICKSTART CARD  #}


<div class="govuk-grid-column-two-thirds">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1573497491208-6b1acb260507?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="kickstart">Kickstart job</a></h3>
      <div class="text">
        <p class="govuk-body">For 16 to 24-year-olds claiming universal credit, this 6-month work experience scheme offers the opportunity to gain the skills employers need. 
    <br><br>

</p> 
      </div>
    </div>
  </div>


{# SCHOOL LEAVERS SCHEMES  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="school-leavers-scheme">School Leavers Schemes</a></h3>
      <div class="text">
        <p class="govuk-body">Aimed at those who have completed A levels, this scheme allows you to work at a large company and earn money whilst you train.  
 <br><br></p> 
      </div>
    </div>
  </div>

</div>


  <div class="govuk-grid-row">


  {# INTERNSHIPS AND VOLUNTEERING CARD  #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1607134541550-2994abb8077b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29uc3RydWN0aW9uJTIwd29ya2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60" alt=""> #}
      <h3 class="govuk-heading-s"><a href="internships">Internships and volunteering</a></h3>
      <div class="text">
        <p class="govuk-body">For those aged 16 and over, gain work experience in a chosen job and learn about the industry through an internship or by volunteering. 
<br><br>
        </p>
      </div>
    </div>
  </div>
  


  
  
  





{# GET A JOB  #}


<div class="govuk-grid-column-one-third">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1549923746-c502d488b3ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="get-a-job">Get a job</a></h3>
      <div class="text">
        <p class="govuk-body">Available to those aged 16 and over, get straight into the world of work by getting a job to start earning and gaining experience. 
<br><br>

</p> 
      </div>
    </div>
  </div>


  

  {# START A BUSINESS CARD #}

<div class="govuk-grid-column-one-third">
    <div class="card">
      {# <img class="cardThumbnail" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt=""> #}
      <h3 class="govuk-heading-s"><a href="business">Start a business</a></h3>
      <div class="text">
        <p class="govuk-body">If you’re 18 or over and have a great business idea or want to be an entrepreneur, starting your own business might be the right career for you. 
 
<br></p> 
      </div>
    </div>
  </div>








    

  



</div>





</div>
</div>
<section>
  <div class="secondary-hero govuk-!-margin-top-5" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>

  {# <div class="govuk-width-container">

 <aside class="app-related-items govuk-!-margin-top-6" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Other opportunities
          </h2>
          <ul class="govuk-list">
            <li>
              If you have a great business idea or want to be an entrepreneur, <a href="startabusinessURL">starting your own business</a> might be right for you. 
            <br><br></li>
            <li>
              Get straight into the working world by <a href="getajobURL">getting a job</a> to start earning and gaining experience.
              <br><br></li>
            <li>
              Gain work experience in a chosen job and learn about the industry by <a href="getaninternshipURL"> getting an internship</a>
            <br><br></li>
            <li>
              You could also consider <a href="volunteerURL">volunteering</a> to strengthen your job and study opportunities
            <br><br></li>
            <li>
            </li>
          </ul>                  
        </aside>
    </div> 
   
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

</div>

</div> #}

{% endblock %}








{% block scripts %}

<script>

function ShowWithoutImages() {
  var cardWithImage = document.getElementById("cardGroupWithImages");
  var linkTitle = document.getElementById("showWithoutImages");
  var cardNoImage = document.getElementById("cardGroupNoImages");

  if (cardWithImage.style.display === "none") {
    cardWithImage.style.display = "block";
    cardNoImage.style.display = "none";
    linkTitle.innerHTML = 'See these without images';
  } else {
    cardWithImage.style.display = "none";
    cardNoImage.style.display = "block";
    linkTitle.innerHTML = 'See these with images';
  }
  
} 


</script>
{% endblock %}
