
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Higher education
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Higher education</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero-black-scheme  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds grid-column-mobile">
      <h2 id="alevels" class="govuk-heading-l choice-title">
Higher education
      </h2>

      <p class="govuk-body choice-body">
      For those aged 18 and over, continue your higher education with a degree at university and gain the knowledge to find employment in a particular industry or job role.
      </p>  
    </div>

<div class="govuk-grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">
           
    </div>
    </div>

</div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">
You may wish to continue your studies with a higher education qualification. 
      </p> 
      <p class="govuk-body">
If you want to move on to a higher level of learning, you could study at a university, college, Institute of Technology (IoT) or a National College. There are opportunities to learn online as well as to study part-time.
      </p> 

  <h2 class="govuk-heading-m"> 
Higher technical skills courses  </h2>
  <p class="govuk-body">
 Learn the higher-level skills that employers want in sectors like finance, engineering, management and science.
 </p>
 <p class="govuk-body">
HTQs are usually taught at a college or university and take 1 to 2 years to complete.
 </p>
 <p class="govuk-body">
<a href="https://dfc-pp-draft-compui-shell-as.ase-01.dfc.preprodazure.sfa.bis.gov.uk/explore-your-education-and-training-choices/higher-technical">More about HTQs </a></p>
  

  

  <h2 class="govuk-heading-m"> 
University degree  </h2>
<p class="govuk-body"> An academic course that's usually studied at a higher education institution. 
</p>
<p class="govuk-body"> Learn through lectures, seminars, group projects and independent study. A degree course takes 3 to 4 years to complete. 
 </p>
<p class="govuk-body"> There's <a href="https://www.gov.uk/student-finance">funding </a>available to support you and you can study full or part-time.
</p>


<h2 class="govuk-heading-m"> 
Entry requirements for a degree 
  </h2>

  <p class="govuk-body"> Universities set their own entry requirements for degrees. You'll usually need A levels or equivalent qualifications. 
   </p>
 <p class="govuk-body"> If you do not have the qualifications you need for a degree, you can take an <a href="https://nationalcareers.service.gov.uk/find-a-course/page?searchTerm=access%20to%20higher%20education&distance=10%20miles&town=&orderByValue=Relevance&startDate=Anytime&courseType=&courseHours=&courseStudyTime=&filterA=true&page=1&D=0&coordinates=&campaignCode=">access to higher education diploma.</a>  
   </p>


<h2 class="govuk-heading-m"> 
Options after university  </h2>

<p class="govuk-body"> You can use your degree towards: 
   </p>

<ul class="govuk-list govuk-list--bullet">
<li>
postgraduate degrees
</li>
<li>
professional qualifications
</li>
<li>
graduate employment programmes
</li>
<li>
getting a job
</li>
</ul>


<p class="govuk-body"> Find out more about undergraduate degrees on <a href="https://www.ucas.com/">UCAS</a>
   </p>

<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3"

<form action="URL">
<button class="govuk-button" data-module="govuk-button">
Find a course
</button>
</form>

</div>





</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
      Higher education
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       <a href="internships">Internships and volunteering</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
      <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div> 

<div>

</div>

</div>





</div>

</div>


</div>
</div>
</div>

<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a><br><br><br>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




