
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Higher technical skills courses (HTQs)
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">HTQs</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero-black  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
Higher technical skills courses (HTQs)      </h2>
          
          <p class="govuk-body choice-body">
For those aged 18 and over, this classroom-based technical training qualification can give you a step up in your chosen career or further study. Providing you with the knowledge and skills to get a job.
      </p> 

    </div>

<div class="grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">
      

    </div>
    </div>

</div>


    </div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">
Higher Technical Qualifications (HTQs) are new technical training routes.
      </p> 
<p class="govuk-body">They are: </p>

<ul class="govuk-list govuk-list--bullet">
    <li>New and existing Level 4 and 5 qualifications (such as Higher National Diplomas, Foundation Degrees, Diploma Higher Education)
</li>
<li>Approved by the Institute for Apprenticeships and Technical Education, against employer-led occupational standards
</li>
</ul>

  <h2 class="govuk-heading-m"> 
Who can apply for a HTQ
  </h2>
  <p class="govuk-body">
Can young people apply directly for a traineeship, or do they need to be employed and sponsored by their employer? What are the eligibility criteria for applying for a HTQ?
  </p>
  

  

  <h2 class="govuk-heading-m"> 
What do you need to study a HTQ
  </h2>
<p class="govuk-body"> 
[Content placeholder]</p>


  <h2 class="govuk-heading-m"> 
What can HTQs be used for?  </h2>
<p class="govuk-body"> 
The first Digital HTQs will be available to study from 2022, leading to higher-level occupations such as:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>
Network Engineer
</li>
<li>
Software Developer
</li>
<li>
Data Analyst
</li>
</ul>
<p class="govuk-body"> 
Health and Science and Construction qualifications will be available to study from 2023. 
</p>

  <h2 class="govuk-heading-m"> 
What does a HTQ include?  </h2>
  <p class="govuk-body">
[Content placeholder]  </p>

  <h2 class="govuk-heading-m"> 
How to find an HTQ</h2>
  <p class="govuk-body">
[Content placeholder]  </p>



{# <h2 class="govuk-heading-m"> 
Real experiences
  </h2>

  <h3 class="govuk-heading-s"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nYOcO97FKqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>


  <h3 class="govuk-heading-s govuk-!-padding-top-6"> Name of person </h3> 
  <p class="govuk-body"> Brief summary of what video is about </p>

<iframe id="ytplayer" type="text/html" width="640" height="360" class="govuk-!-margin-bottom-4"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe> #}

  <form action="https://www.gov.uk/guidance/htqs">
<button class="govuk-button" data-module="govuk-button">
Find a course
</button>
</form>


</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
      <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div> 

<div>

</div>

</div>





</div>

</div>


</div>
</div>
</div>

<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




