
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
 Internships and volunteering
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Internships</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero-black-scheme  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds grid-column-mobile">
      <h2 id="alevels" class="govuk-heading-l choice-title">
 Internships and volunteering

      </h2>

      <p class="govuk-body choice-body">
Gain work experience in a chosen job and learn about the industry.
      </p> 
          
    </div>

<div class="govuk-grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">
          
    </div>
    </div>

</div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">



  <h2 class="govuk-heading-m"> 
Volunteering
  </h2>

    <p class="govuk-body"> If you don’t have much work experience to make your CV stand out, you can gain experience and develop your skills through volunteering. 
</p>



<p class="govuk-body"> Through volunteering you can:
 </p>
 <ul class="govuk-list govuk-list--bullet">
   <li>
find out what's involved in a job to see if it's for you
   </li>
   <li>
learn new skills or build on ones you already have
   </li>
   <li>
meet new people and develop your network of contacts
   </li>
    <li>
boost your confidence
   </li>
    <li>
give back to your community
   </li>
 </ul>


  <h2 class="govuk-heading-m"> 
How to choose a volunteering position
  </h2>


<p class="govuk-body"> You may have to take small steps to get to your perfect volunteering opportunity. It can be very competitive and for some volunteering opportunities you might need to be over 18. 
 </p>

<p class="govuk-body"> Research the sector you’re interested in and look for roles where you could develop your <a href="https://nationalcareers.service.gov.uk/careers-advice/how-to-develop-your-soft-skills">soft skills</a>, such as:
 </p>

<ul class=<ul class="govuk-list govuk-list--bullet">
  <li>
public speaking
  </li>
  <li>
organisation  </li>
  <li>
leadership
  </li>
   <li>
communication
  </li>
</ul>

<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3"

 <form action="https://www.gov.uk/government/get-involved/take-part/volunteer">
<button class="govuk-button" data-module="govuk-button">
More information on volunteering</button>
</form>

</div>


<h2 class="govuk-heading-m"> 
Internship
  </h2>

    <p class="govuk-body"> 
    An internship can give you the opportunity to gain skills and experience in a place of work or a particular industry. 
    </p>

    <p class="govuk-body"> 
The length of the internship is decided by the business but they are usually a few weeks or months long and can be done around work or study. 
    </p>

<p class="govuk-body"> An internship might include:
 </p>
 <ul class="govuk-list govuk-list--bullet">
   <li>
shadowing members of the business to learn what the day-to-day tasks of the job include    </li>
   <li>
a training programme to help the assess your skills 
   </li>
</ul>



<p class="govuk-body"> An internship can help you to understand if the company or industry is right for you. 
 </p>


<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3"

 <form action="https://www.careerpilot.org.uk/information/your-choices-at-18/internships-and-work-placements">
<button class="govuk-button" data-module="govuk-button">
More information on internships</button>
</form>

</div>






</div>
   <div class="govuk-grid-column-one-third">
                  <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       Internships and volunteering
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
      <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div> 

<div>

</div>


</div>





</div>

</div>


</div>
</div>
</div>


<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a><br><br><br>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




