
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Kickstart job
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Kickstart job</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero-black-scheme  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds grid-column-mobile">
      <h2 id="alevels" class="govuk-heading-l choice-title">
Kickstart job
      </h2>

      <p class="govuk-body choice-body">
A 6-month work experience scheme open to 16 to 24-year-olds that are currently claiming Universal Credit.
      </p> 
          
    </div>

<div class="govuk-grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">
          
    </div>
    </div>

</div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">




<iframe class="govuk-!-margin-bottom-6" id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/YOcO97FKqI"
  frameborder="0"></iframe>

<h2 class="govuk-heading-m"> 
[Name]'s story
  </h2>

  <p class="govuk-body"> Brief summary of what video is about </p>

<p class="govuk-body govuk-!-margin-top-5">
Ready for the world of work but don’t know where to start? For 16 to 24-year-olds claiming universal credit, this 6-month work experience scheme offers the opportunity to gain the skills employers need.    
      </p>  

      <p class="govuk-body">
This scheme offers you the opportunity to gain the skills employers need to help you find your next job. 
      </p> 

  <h2 class="govuk-heading-m"> 
How to apply for a Kickstart job
  </h2>

<p class="govuk-body govuk-!-font-weight-bold">
  1. Talk to a Work coach at JobCentre Plus
  </p>
<p class="govuk-body govuk-!-margin-left-3">
  Speak to a Work coach at your nearest <a href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">Job Centre Plus branch to discuss your skills and interests.</a>   </li>
</p>
<p class="govuk-body govuk-!-font-weight-bold">
  2. Get matched to a job vacancy
  </p>
<p class="govuk-body govuk-!-margin-left-3">
     The Work coach will use this information to help match you to any suitable Kickstart job vacancies and give advice on the roles.
</p>
<p class="govuk-body govuk-!-font-weight-bold">
  3. Put in your application
  </p>
<p class="govuk-body govuk-!-margin-left-3">
  You can then apply for these job placements online. Speak to a Work coach for advice about making an application and what to include.   </li>
</p>
<p class="govuk-body govuk-!-font-weight-bold">
  4. Get interview ready
  </p>
<p class="govuk-body govuk-!-margin-left-3">
  You may then be invited for an interview with the employer who is running the Kickstart job placement. You should prepare for the interview by thinking about what you want to gain from the job placement and what skills you can offer as an employee (for more advice on interviews visit the <a href="https://nationalcareers.service.gov.uk/"> National Careers Service (opens in a new tab).</a> 
  </p>
<p class="govuk-body govuk-!-font-weight-bold">
  5. Start your new job
  </p>
<p class="govuk-body govuk-!-margin-left-3">
If you’re successful at the interview stage the employer will offer you the job placement and contact you to arrange a start date. 
</p>
  
<p class="govuk-body">
Head to <a href="https://find-your-nearest-jobcentre.dwp.gov.uk/search.php">Job Centre Plus</a> to find your Kickstart job placement. 
</p>
  




<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3"

 <form action="https://findajob.dwp.gov.uk/search?adv=1&qph=DWP%20Kickstart%20Scheme&sb=date&sd=down">
<button class="govuk-button" data-module="govuk-button">
Find a Kickstart job
</button>
</form>
</div>



</div>
   <div class="govuk-grid-column-one-third">
                  <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      Kickstart job
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
      <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div> 

<div>

</div>

</div>





</div>

</div>


</div>
</div>
</div>


<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a><br><br><br>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




