
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
School leavers scheme
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices"> Explore your education and training choices</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">School leavers scheme</li>
      </ol>
    </div>
  </div>


 


{% endblock %}

{% block content %}

</div>

<div class="govuk-grid-row page-title-header ec-hero-black-scheme  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds grid-column-mobile">
      <h2 id="alevels" class="govuk-heading-l choice-title">
School leavers scheme
      </h2>

      <p class="govuk-body choice-body">
Aimed at those who have completed A levels, work at a large company and earn money whilst you train.
      </p> 
          
    </div>

<div class="govuk-grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">
          
    </div>
    </div>

</div>
    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


<p class="govuk-body">
The school leavers scheme is mainly aimed at those who have completed A levels. It allows you to learn and train with a large company while earning a wage.
      </p>  



  <h2 class="govuk-heading-m"> 
Starting a school leavers scheme
  </h2>
<p class="govuk-body"> To start a school leavers scheme, you’ll need to:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>
be 18 or over
</li>
<li>
not be in full-time education
</li>
<li>
have a keen interest in the sector you want to work in
</li>
</ul>


<p class="govuk-body">
Usually, the schemes require high A level grades or equivalent qualifications.
      </p>

<p class="govuk-body">
You can apply for a school leavers scheme while you’re still at school, but you’ll need to be 18 or over by the end of the summer holidays to start it.
      </p> 

  <h2 class="govuk-heading-m"> 
What you’ll do on the school leavers scheme
  </h2>
  <p class="govuk-body">
You’ll gain the skills and experience that employers look for through learning while working and earning a wage.
  </p>

   <p class="govuk-body">
The scheme may also include:
  </p>


  <ul class="govuk-list govuk-list--bullet">
  <li>
rotating between different locations with the same company
</li>
<li>
distance learning or time in college or university
</li>
</ul>


  <h2 class="govuk-heading-m"> 
Sectors you could work in
  </h2>
  <p class="govuk-body">
Sectors included in the scheme are:
  </p>



  <ul class="govuk-list govuk-list--bullet">
  <li>
accountancy
</li>
<li>
engineering
</li>
<li>
finance
</li>
<li>
law
</li>
<li>
leisure
</li>
<li>
retail
</li>
</ul>
  

  <h2 class="govuk-heading-m"> 
Applying for a school leavers scheme
  </h2>
  <p class="govuk-body">
You can find out if a company offers a school leavers scheme on their website, alongside information on how to apply.
  </p>

   <p class="govuk-body">
You can get <a href="https://nationalcareers.service.gov.uk/careers-advice#making-career-choices">careers advice</a> from us on topics such as:
  </p>


    <ul class="govuk-list govuk-list--bullet">
  <li>
how to fill in an application form
</li>
<li>
how to write a CV
</li>
<li>
interview help
</li>
<li>
progressing your career
</li>
</ul>

  <div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3">

<form action="URL">
<button class="govuk-button" data-module="govuk-button">
Find a scheme
</button>
</form>

</div>



</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       <a href="internships">Internships and volunteering</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       School Leavers Scheme
     </li>
      <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div>


    <div>

</div>

</div>





</div>

</div>


</div>
</div>
</div>


<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a><br><br><br>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




