
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
Supported internships
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices">Explore your education and training choices </a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Supported internships</li>
      </ol>
    </div>
  </div>

{% endblock %}

{% block content %}
</div>

<div class="govuk-grid-row page-title-header ec-hero-black-scheme  govuk-!-padding-top-6"> 
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds grid-column-mobile">
      <h2 id="alevels" class="govuk-heading-l choice-title">
Supported internship
      </h2>

      <p class="govuk-body choice-body">
For those aged 16 to 24, these internships provide extra support for those with an education, health and care plan (EHC) to move into employment.
      </p> 
          
    </div>

<div class="govuk-grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">
  

    </div>

</div>
 </div>
  
   <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"

 <p class="govuk-body">[Placeholder text]</p>
 <p class="govuk-body"> [Placeholder text] </p>
 <p class="govuk-body"> [Placeholder text]</p>

{# cost #}

  <h2 class="govuk-heading-m"> 
  How much do supported internships cost
  </h2>
  <p class="govuk-body">Supported internships are free. The employer and training provider determine their costs together with government support. </p>
  <p class="govuk-body"> If you’re under 25 when you start your apprenticeship and have previously been in local authority care, you may be eligible for a bursary payment. </p>

{# who #}
 <h2 class="govuk-heading-m"> 
  Who can apply for supported internships
 </h2> 
  <p class="govuk-body"> To start supported internships, you’ll need to be: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      16 or over
    </li>
    <li>
    living in England
    </li>
    <li>
     not in full-time education
    </li>
  </ul>
  <p class="govuk-body"> You can apply for supported internships while you’re still at school but you’ll need to be 16 or over by the end of the summer holidays to start the internship. </p>

{# include #}
 <h2 class="govuk-heading-m "> 
  What does a supported internship include
  </h2>
  <p class="govuk-body">As an apprentice you will:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      be an employee earning a wage and getting holiday pay
    </li>
    <li>
      work alongside experienced staff
    </li>
    <li>
     gain job-specific skills
    </li>
    <li>
    get time for training and study related to your role
    </li>
  </ul>

  <p class="govuk-body">As an intern, at least 20% of your normal working hours must be spent on training.
Your training might happen every week, every month or in a separate block of time.
 </p>

 <p class="govuk-body"> The training might take place:</p>
 <ul class="govuk-list govuk-list--bullet">
   <li>
     at your place of work
   </li>
   <li>
     somewhere else like at a college or training provider
   </li>
   <li>
    online
   </li>
 </ul>

 {# pay #}
<h2 class="govuk-heading-m "> 
  Pay and working hours
  </h2>
<p class="govuk-body"> There are different rates of pay for apprentices depending on your age and what year of your apprenticeship you’re in. </p>
<p class="govuk-body"> Your employment contract should confirm your rate of pay but you must be paid the appropriate <a target="_blank" href="https://www.gov.uk/national-minimum-wage-rates"> national minimum wage (opens in a new tab)</a>. </p>
<p class="govuk-body"> You must be paid for: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    your normal working hours (found in your employment contract or apprenticeship agreement)
  </li>
  <li>
    training that’s part of your apprenticeship (at least 20% of your normal working hours)
  </li>
  <li>
    study towards English and maths qualifications, if they’re part of your apprenticeship
  </li>
</ul>
<p class="govuk-body"> There are rules about how many hours you can work in a week and being paid overtime. </p>
<p class="govuk-body"> You’ll get at least 20 days of paid holiday per year, plus bank holidays. The <a target="_blank" href="https://www.gov.uk/calculate-your-holiday-entitlement">holiday calculator (opens in a new tab)</a> helps you check what you are allowed to take. </p>

{# how #}
<section class="grey-box"> 
  <h2 class="govuk-heading-m "> 
  How to apply for A-Levels
    </h2>
    <p class="govuk-body"> There are 3 steps to applying for A-Levels. </p>
    <ul class="govuk-list govuk-list--number">
      <li>
        <a target="_blank" href="https://www.gov.uk/apply-apprenticeship"> Search for A-Levels (opens in a new tab) </a>
      </li>
      <li>
        Sign in or create an account.
      </li>
      <li>
        Complete and submit your application.
      </li>
    </ul>
</section>

{# unsuccessful #}
<h3 class="govuk-heading-s"> 
What to do if your apprenticeship application is unsuccessful
  </h3>

  <p class="govuk-body"> You can ask for feedback if you do not get selected for an interview or for the apprenticeship. </p>
  <p class="govuk-body">You can complain if you think you were not successful because you were discriminated against, or your treatment in the interview or application process was unfair. </p>
  <p class="govuk-body"> Contact Acas for free and confidential advice on your rights at work.
Contact the Support Service for Apprentices for mental health support and advice. </p>

{# help #}
<h2 class="govuk-heading-m "> 
Get help and advice
  </h2>

  <p class="govuk-body"> Your school, college or training provider may be able to give you advice about apprenticeships. </p>

  <p class="govuk-body"> The <a target="_blank" href="https://nationalcareers.service.gov.uk/"> National Careers Service (opens in a new tab) </a> has advice on writing applications and what to do at interviews. </p>

  <p class="govuk-body"> You can call the Apprenticeship helpline if you were made redundant from your last apprenticeship and you can also talk to your training provider. </p>


<p class="govuk-body"> <strong> Apprenticeship helpline </strong> <br>
nationalhelpdesk@apprenticeships.gov.uk <br> 
Telephone: 0800 015 0400 <br>
8am to 10pm, 7 days a week </p>






<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3"

 <form action="URL">
<button class="govuk-button" data-module="govuk-button">
Find a supported internship
</button>
</form>
</div>


</div>








<div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       <a href="vtq">Vocational technical qualifications (VTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       <a href="internships">Internship</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
      <li>
       Supported Internship
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div> 


    <div>

</div>

    
</div>
   
</div>
</div>

</div>
</div>
</div>

</div>

</div>

</div>

</div>
</div>
</div>


<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




