
{% extends "layout_ncs_erh.html" %}

{% block pageTitle %}
VTQs
{% endblock %}

{% block beforeContent %} {{ super() }}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="homepage-banner">Home</a> </li>
                 <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="all-choices">Explore your education and training choices </a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">VTQs</li>
      </ol>
    </div>
  </div>

{% endblock %}

{% block content %}
</div>

<div class="govuk-grid-row page-title-header ec-hero-black-scheme  govuk-!-padding-top-6"> 
  <div class="govuk-width-container grid-column-mobile">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="alevels" class="govuk-heading-l choice-title">
Vocational technical qualifications (VTQs)
      </h2>

      <p class="govuk-body choice-body">
      For those aged 18 and over, continue your higher education with a degree at university and gain the knowledge to find employment in a particular industry or job role.
      </p> 
          
    </div>

<div class="govuk-grid-column-one-third">

<img class="GTJ-logo-scheme" src="/public/images/GTJ-Logo-Lockup-Web.png">


    </div>
</div>
 </div>


    </div>
  
    <div class="govuk-width-container govuk-!-padding-top-5">
<div class="govuk-grid-row">



<div class="govuk-grid-column-two-thirds">
   <p class="govuk-body">
VTQs are practical qualifications for over 16s about a specific job or career sector.
</p>
 <p class="govuk-body"> 
They are designed to help you get the skills you need to start a job, progress in a career, or go on to higher levels of education.
 </p>
 <p class="govuk-body"> 
VTQs are usually taken at a college.
</p>

{# who #}
<div id="who" class="section_container">
 <h2 class="govuk-heading-m"> 
Starting a VTQ </h2> 
  <p class="govuk-body"> To start a VTQ, you’ll need to:
 </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      be 16 or over
    </li>
    <li>
    live in England
    </li>
    <li>
     not be in full-time education
    </li>
  </ul>
  <p class="govuk-body"> 
You can apply for VTQs while you’re still at school but you’ll need to be 16 or over by the end of the summer holidays to start the VTQ.
</p>
</div>



{# include #}
<div id="include" class="section_container">
 <h2 class="govuk-heading-m "> 
Types of VTQs  </h2>
  <p class="govuk-body"><a href="https://dfc-pp-draft-compui-shell-as.ase-01.dfc.preprodazure.sfa.bis.gov.uk/explore-your-education-and-training-choices/t-levels">T Levels</a>, BTECs and OCR nationals are all types of VTQs.</p>
  <p class="govuk-body">VTQs can be taken in vocational subjects and courses that can lead to a:
</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
broad employment area, such as business, engineering or IT
    </li>
    <li>
specific job, such as hairdresser, accountant or plumber
    </li>
    </ul>
<p class="govuk-body">
    The length of the VTQ will be different for each one, but the minimum length is one year.
</p>

    </div>

{# include #}
<div id="include" class="section_container">
 <h2 class="govuk-heading-m "> 
Entry requirements  </h2>
  <p class="govuk-body">You normally need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      at least 5 GCSEs at grades 3 to 1
    </li>
    <li>
      a <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">level 1 qualification</a>
    </li>
  </ul>
  </div>

  
{# help #}
<div id="help" class="section_container">
<h2 class="govuk-heading-m "> 
Get help and advice
  </h2>

  <p class="govuk-body"> 
We have plenty of <a href="https://nationalcareers.service.gov.uk/careers-advice">careers advice</a> on topics such as:
  </p>
  <ul class="govuk-list govuk-list--bullet">
<li>
<a href="https://nationalcareers.service.gov.uk/careers-advice/application-formsork-experience-can-help-you">how to fill in an application form</a>
</li>
<li>
<a href="https://nationalcareers.service.gov.uk/careers-advice/cv-sections">how to write a CV</a>
</li>
<li>
<a href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice">interview help</a>
</li>
<li>
<a href="https://nationalcareers.service.gov.uk/careers-advice#progressing-your-career">progressing your career</a>
</li>
</div>

<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-3">

  <form action="https://nationalcareers.service.gov.uk/find-a-course/search">
<button class="govuk-button" data-module="govuk-button">
Find a course
</button>
</form>
</div>


</div>
   <div class="govuk-grid-column-one-third">
         <aside class="app-related-items" role="complementary">
          

 <p class="govuk-body">There are lots of work and study choices available to you.</p>

    <h3 class="govuk-heading-s"> Combine work and study </h3> 

            <ul>
     <li>
       <a href="apprenticeship">Apprenticeship</a>
     </li>
      <li>
       <a href="tlevels">T Levels</a>
     </li>
     <li>
      <a href="traineeship">Traineeship</a>
     </li>
      <li>
       Vocational technical qualifications (VTQs)
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Study </h3> 

    <ul>
     <li>
       <a href="alevels">A Levels</a>
     </li>
     <li>
      <a href="higher-education">Higher education</a>
     </li>
     <li>
      <a href="htq">Higher technical skills courses (HTQs)</a>
     </li>
    </ul>
    <h3 class="govuk-heading-s govuk-!-margin-top-6"> Work </h3> 

    <ul>
    <li>
      <a href="get-a-job">Get a job </a>
     </li>
      <li>
       <a href="internships">Internships and volunteering</a>
     </li>
     <li>
      <a href="kickstart">Kickstart job</a>
     </li>
     <li>
       <a href="school-leavers-scheme">School Leavers Scheme</a>
     </li>
      <li>
       <a href="supportedinternship">Supported Internship </a>
     </li>
     <li>
       <a href="business">Start a business</a>
     </li>
 </ul>                   
        </aside>
    </div> 

<div>

</div>

</div>
</div>

</div>
</div>
</div>



</div>

</div>

</div>
</div>
</div>


<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold"><a href="tel:0800 100 900">0800 100 900</a></span> (8am - 8pm Monday - Friday, 10am - 5pm Saturday) or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat">
                        use webchat
                    </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class = "ec-hero-black" >
    <div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
Additional support for:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://nationalcareers.service.gov.uk/careers-advice/options-with-education-health-and-care-plan" class="govuk-link--inverse">Students with SEND</a>
     </li>
     <li>
     <a href="https://www.talkingfutures.org.uk/" class="govuk-link--inverse">Parents</a>
     </li>
      <li>
      <a href="https://www.careersandenterprise.co.uk/" class="govuk-link--inverse">Teachers</a>
     </li>
      <li>
      <a href="link-not-ready-yet" class="govuk-link--inverse">Adult learners</a><br><br><br>
     </li>
     </ul>
  </div> 
      <div class="govuk-grid-column-one-half">
 <h3 class="govuk-heading-m">
Information for other countries:
</h3>
<hr>
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="https://www.mygov.scot/leaving-school-options" class="govuk-link--inverse">Scotland</a>
     </li>
     <li>
     <a href="https://careerswales.gov.wales/plan-your-career/options-at-16" class="govuk-link--inverse">Wales</a>
     </li>
      <li>
      <a href="https://www.nidirect.gov.uk/articles/options-after-year-12" class="govuk-link--inverse">Northern Ireland</a>
     </li>
     </ul>
</div>
  </div>
  </div> 
  </div>


{% endblock %}




