{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Prototypes and mockups</h1>
        <p class="govuk-body-m">The mockups linked below are for test purposes.</p>
        <p class="govuk-body-m">They should not be recreated into production code unless the design has been validated by user research and stakeholders.</p>
      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-9">
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">      
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-18"> Young people's futures campaign prototype</span> </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            </div>
          </div>
          <div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">YPFC</p>
            <ul class="govuk-list">
                <li ><a class="govuk-link" href="ERH/all-choices">Version 1 (thirds)</a></li>
                <li ><a class="govuk-link" href="Version-2/all-choices">Version 2 (full width)</a></li>
                <li ><a class="govuk-link" href="Version-3/all-choices">Version 3 (radio filter)</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}
